@using QqhrCitizen.Models.ViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    vEBook book = ViewBag.EBook as vEBook;
    ViewBag.Title  =  book.Title;
}



<div class="container wrap-cont">
    <p>当前位置：/<a href="#" class="pos">@book.TypeDictionary.TypeValue</a>/<a href="#" class="pos">@book.Title</a></p>
    <div class="block main">
        <table class="detail-table">
            <tr>
                <td>名称</td>
                <td>@book.Title</td>
            </tr>
            <tr>
                <td>增加时间</td>
                <td>@book.Time</td>
            </tr>
            <tr>
                <td>浏览量</td>
                <td>@book.Browses</td>
            </tr>
        </table>
    </div>
    <div class="block sidebar">
        <h3>相关图书</h3>
        <p><a href="#">[2015-5-24] 图书</a></p>
        <p><a href="#">[2015-5-24] 图书</a></p>
        <p><a href="#">[2015-5-24] 图书</a></p>
        <p><a href="#">[2015-5-24] 图书</a></p>
        <p><a href="#">[2015-5-24] 图书</a></p>
        <p><a href="#">[2015-5-24] 图书</a></p>
        <p><a href="#">[2015-5-24] 图书</a></p>
        <p><a href="#">[2015-5-24] 图书</a></p>
    </div>
    <div class="clr"></div>
</div>



