<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link href="~/Styles/citizen.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/citizen.js"></script>
    <script src="~/Scripts/qqhrcitizen.base.js"></script>
    @*@RenderSection()*@
</head>
<body>
    <div class="header">
        <div class="container">
            <a href="#"><img class="logo" src="~/Images/logo.png" /></a>
            <div class="search">
                <input type="submit" class="search-btn" value="" />
                <input type="text" class="search-box" placeholder="搜索" />
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="container">
            <a href="/Home/Index"><div class="nav-item">首页</div></a>
            <a href="#" data-toggle="NewsPopMenu"><div class="nav-item">新闻</div></a>
            <div id="NewsPopMenu" class="pop-menu" style="width: 300px;">
                @foreach (var item in ViewBag.NewsTypes)
                {
                    <strong>@item.TypeValue</strong>
                    <br />
                    foreach (var _item in item.Children)
                    { 
                      <a href="/News/Index?tid=@_item.ID">@_item.TypeValue</a>
                    }
                    <br />
                    <br />
                }
            </div>
            <a href="#" data-toggle="TestPopMenu"><div class="nav-item">课程</div></a>
            <div id="TestPopMenu" class="pop-menu" style="width: 300px;">
                @foreach (var item in ViewBag.CourseTypes)
                {
                    <strong>@item.TypeValue</strong>
                    <br />
                    foreach (var _item in item.Children)
                    {
                        <a href="/Course/Index?tid=@_item.ID">@_item.TypeValue</a>
                    }
                    <br />
                    <br />
                }
            </div>

            <a href="#" data-toggle="TestPopMenu"><div class="nav-item">图书</div></a>
            <div id="TestPopMenu" class="pop-menu" style="width: 300px;">
                @foreach (var item in ViewBag.CourseTypes)
                {
                    <strong>@item.TypeValue</strong>
                    <br />
                    foreach (var _item in item.Children)
                    {
                        <a href="/Course/Index?tid=@_item.ID">@_item.TypeValue</a>
                    }
                    <br />
                    <br />
                }
            </div>

            <a href="/Channel"><div class="nav-item">直播</div></a>
            @{
                if (User.Identity.IsAuthenticated)
                {
                    <a href="/User/Logout"><div class="nav-item flt-r">退出</div></a>
                    <a href="/User/Show/@ViewBag.CurrentUser.ID"><div class="nav-item flt-r">@ViewBag.CurrentUser.Username</div></a>
                }
                else
                {
                    <a href="/User/Login"><div class="nav-item flt-r">登录</div></a>
                    <a href="/User/Register"><div class="nav-item flt-r">注册</div></a>
                }
            }
            <div class="clr"></div>
        </div>
    </div>
    @RenderBody()
    <div class="footer">
        <div class="container">
            <div class="copyright">©2015 齐齐哈尔市广播电视大学 版权所有 由哈尔滨市码锋窝科技有限公司提供技术支持</div>
        </div>
    </div>
</body>
</html>
