@{
    Layout = null;
    ViewBag.Title = "首页_齐齐哈尔市民学习网";
}
<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" style="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
    <meta name="viewport" content="width=device-width" />
    <title>齐齐哈尔市民学习网</title>
    <link href="~/Styles/app_home.css" rel="stylesheet" media="screen">
    <link href="~/Styles/history.css" rel="stylesheet" media="screen">
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/flproto0.1.0.js"></script>
    <script src="~/Scripts/proto.js"></script>
    <!--[if lt IE 8]><script src="http://res.shlll.net/vendor/ie7-2.1-beta4/src/IE8.js"></script><![endif]-->
    <!--<script src="~/Scripts/ss?si=portal&sd=1398044857827668"></script>-->
    <script src="~/Scripts/modernizr-2.6.2.min.js"></script>
    <script src="~/Scripts/spin.min.js"></script>
    <style type="text/css"></style>
    <!--<script src="http://res.shlll.net/vendor/ifvisible/src/ifvisible.js"></script>-->
    <script src="~/Scripts/km_adtran.js"></script>
    <script src="~/Scripts/home.default_v1_01s.js"></script>
    <script>
        function dosearch() {
            var key = $("#txtSearch").val();
            $("#frmSearch").submit();
        }
    </script>
    <style>
        .avatar img {
            width: 48px;
            height: 48px;
        }
    </style>
</head>
<body class="home__default_v1_01">
    <div id="d_main" class="d-main" style="min-width: 1000px;">
        <div class="container">
            <div id="d_top" class="d-top">
                <div id="d_top_c" class="d-top-c">
                    <!-- region start: top --><div id="d_topmenu" class="d-topmenu">
                        <div class="d-top-nav">
                            <div class="body">
                            </div>
                        </div>
                        <div id="d_top_sign" class="d-top-sign">
                            <div class="body">
                                <span class="txt">欢迎来到齐齐哈尔市民学习网</span>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <a class="item" href="/User/Login" target="_self">登录</a>
                                    <a class="item last" href="/User/Register" target="_self">注册</a>
                                }
                                else
                                {
                                    if (User.Identity.IsAuthenticated && ViewBag.CurrentUser.RoleAsInt >= 1)
                                    {
                                        <a class="item" href="/Admin/Index" target="_self">管理</a>
                                    }
                                    <a class="item" href="/User/Show/@ViewBag.CurrentUser.ID" target="_self">@ViewBag.CurrentUser.Username</a>
                                    <a class="item last" href="/User/Logout?sid=@ViewBag.SID" target="_self">注销</a>
                                }
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div><!-- region end: top -->
                </div>
            </div>
            <div id="d_header" class="d-header">
                <div id="d_header_c" class="d-header-c">
                    <!-- region start: header --><div id="d_headerhome" class="d-headerhome">
                        <a class="d-logo" href="#"><div class="ver" style="left: 900px; top: 65px; text-align: right;display:none;">Beta 2014</div></a><div class="d-search" style="background-color: #fff;">
                            @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { id = "frmSearch" }))
                            {
                                @Html.AntiForgerySID()
                                <input id="txtSearch" maxlength="30" name="key" onkeydown="if(event.keyCode==13){dosearch();}" type="text" value="" placeholder="课程、新闻、电子书" autocomplete="off" autocorrect="off" autocapitalize="off">
                                <span class="site-search header-search"  onclick="dosearch();" id="home_search" style="left: 348px; border-left: none;">站内搜索</span>
                            }
                        </div>
                    </div><!-- region end: header -->
                </div>
            </div>
            <div id="d_menu" class="d-menu menu-home">
                <div id="d_menu_c" class="d-menu-c">
                    <!-- region start: menu -->
                    <div id="d_headmenu" class="d-headmenu">
                        <div class="body">
                            @foreach (var item in ViewBag.Navigation)
                            {
                                if (@item.Url != "Null")
                                {
                                    <a id='@item.Nav_Id' class="item" href="@item.Url" target="_parent">@item.Title</a>
                                }
                            }
                        </div><!-- region end: menu -->
                    </div>
                </div>
            </div>
            <div id="d_menusub" class="d-menusub">
                <div id="d_menusub_c" class="d-menusub-c">
                    <!-- region start: menusub -->
                    <div class="d-headmenusub">
                        <div class="body channel">
                            <div class="lab">频道</div>
                            <div class="box">
                                @foreach (Menu m in ViewBag.Menus)
                                {
                                    <span class="item">
                                        <a href="@m.Url">@m.Title</a>
                                    </span>
                                }
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!-- region end: menusub -->
                </div>
            </div>
        </div>
        <div id="d_bottom" class="d-bottom" style="visibility: hidden;">
            <div class="d-bottom-c">
                <div id="d_scrolltop" class="d-scrolltop" style="right: -70px;">
                    <span class="exp" onclick="km_st.expend()">&nbsp;</span>
                    @foreach (var item in ViewBag.Navigation)
                    {
                        if (@item.Km_st_Id != "Null")
                        {
                            <span>@item.Title</span>
                        }
                    }
                    <span class="t" onclick="$(document.body).ScrollTo();">顶部</span>
                </div>
            </div>
        </div>
        <div style="background: #000; position: relative; background: url(/file/video/video_wrapper_bg.gif) repeat-x;">
            <div id="wrapper" style="width: 802px; margin: 0 auto; position: relative; display: none; padding-top: 20px; height: 471px;"><div id="v_c" style="position: absolute; right: -90px; top: 20px; display: none;"><a href="javascript:;" id="v_close">关闭</a><p><input type="checkbox" id="v_never" style="margin: 0; padding: 0; height: 13px;"><label for="v_never" style="color: #f2f2f2; font-size: 14px;">&nbsp;不再显示</label></p></div><div id="videoWrapper"></div></div>
        </div>
        <div id="d_banner" class="d-banner" style="background-color: rgb(42, 145, 212);">
            <ul id="d_homebanner" class="d-homebanner" style="display: block;">
                @{
                    string[] bgcolor = { "rgb(42, 145, 212)", "rgb(219, 170, 85)", "rgb(249, 220, 140)", "rgb(207, 180, 115)", "rgb(215, 205, 191)" };
                    var i = 1;
                }
                @foreach (Viewpager n in ViewBag.Pictures)
                {
                    if (i > 5) { break; }
                    <li id="bb@(i)" style="background-color: @(bgcolor[i - 1]); z-index: 9; display: block;">
                        <a href="@n.Url" target="_blank" style="background-image: url(/ViewPager/ShowPicture/@n.ID);"><p class="t" style="display: none;"></p><p class="h" style="color: rgb(255, 255, 255);">@n.Title</p><p class="p" style="color: rgb(255, 255, 255);">@n.Subtitle</p></a>
                    </li>
                    { i++; }
                }
            </ul><div id="d_banner_c" class="d-banner-c" style="visibility: visible;">
                <div id="d_banner_thumb" class="d-banner-thumb">
                    @{ i = 0; }
                    @foreach (Viewpager n in ViewBag.Pictures)
                    {
                        if (i > 5) { break; }
                        <a href="@n.Url" target="_blank" style="background-image: url(/ViewPager/ShowPicture/@n.ID); margin-top: 0px;">
                            <p><span style="width: 0px;"></span></p>
                        </a>
                        { i++; }
                    }
                </div><div id="d_board" class="d-board">
                    <div class="tabbar">
                        <div class="tab_select" style="width:144px;" onmouseover="sub_t(42);km_tab.tabclk(0,'d_board');">今日历史</div><div class="tab" style="width:144px;" onmouseover="sub_t(186);km_tab.tabclk(1,'d_board');">最近新闻</div><div class="bar" style="left: 42px;"></div>
                    </div>
                    <div class="tabcontent">
                        <div id="d_board2" style="padding-top:10px;" class="">
                            <div class="scroll-wrapper external-scroll tis-container" style="position: relative;">
                                <div class="external-scroll tis-container scroll-content" style="height: auto; margin-bottom: 0px; margin-right: 0px;">
                                    <div id="tih" style="height: 314px;">
                                        <div class="tis-item">
                                            <div><span class="tis-type">[历史文化]</span></div>
                                            <div class="tis-ed"><a href="javascript:;" title="格致书院开院" class="tis-title">[1876] 格致书院开院</a></div>
                                            <div class="tis-content" style="color:#fff; font-size:12px;">&nbsp; &nbsp; &nbsp; 1875年底，格致书院完工，位于上海北门外西北隅八仙桥北、英租界正丰街。李鸿章题写了匾额。1879年正式招生。该院经常进行科技知识的演讲，并创办《格致汇编》。1913年改办工部局华人学校。1933年秋分为光启（徐光启）院科学系，炎武（顾炎武）院地理系，念孙院（王念孙）语言学及经学系，有光（归有光）院文学系四院，各设高中、初中及小学。1945年10月更名格致中学。</div>
                                        </div>
                                        <div style="height:6px; overflow:hidden;">&nbsp;</div>
                                    </div>
                                </div><div class="scroll-element scroll-element_show-arrows scroll-x" style="display: none; width: 290px;"><div class="scroll-arrow scroll-arrow_less"></div><div class="scroll-arrow scroll-arrow_more"></div><div class="scroll-element_outer">    <div class="scroll-element_size"></div>    <div class="scroll-element_inner-wrapper">        <div class="scroll-element_inner">            <div class="scroll-element_inner-bottom"></div>        </div>    </div>    <div class="scroll-bar">        <div class="scroll-bar_body">            <div class="scroll-bar_body-inner"></div>        </div>        <div class="scroll-bar_bottom"></div>        <div class="scroll-bar_center"></div>    </div></div></div>
                            </div><div class="external-scroll_x"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_inner"></div><div class="scroll-bar"></div></div></div><div class="external-scroll_y scroll-element_show-arrows scroll-y" style="display: none; height: 320px;"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_inner"></div><div class="scroll-bar" style="height: 100px;"></div></div></div>
                        </div><div class="clsHide">
                            <ul class="d-board-e">
                                @foreach (News n in ViewBag.News)
                                {
                                    <li><a href="/News/Show/@n.ID" title="@n.Title">@n.Title</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="d_row_course" class="d-row" style="padding: 20px 0 20px 0; background-color: #f7f7f7;">
            <div class="d-row-c">
                <div class="d-col-2-1">
                    <div class="contentarea">
                        <div class="d-menu-vertical">
                            <a href="/Course">
                                <div class="head news"></div>
                            </a>
                            <div class="body">
                                @foreach (TypeDictionary td in ViewBag.CourseTypes)
                                {
                                    <a class="item" href="/Course?tid=@td.ID">@td.TypeValue</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-col-2-11">
                    <div class="contentarea">
                        <!-- region start: 首页推荐课程 --><div id="d_courserecommend" class="d-courserecommend">
                            <div class="body">
                                <div id="slide_courserecommend" class="slidecontainer">
                                    @foreach (Course c in ViewBag.Courses)
                                    {
                                        <div class="item">
                                            <a class="course-cover cover" href="/Course/Show/@c.ID" title="@c.Title">
                                                <img src="/Course/ShowPicture/@c.ID" data-echo="/Course/ShowPicture/@c.ID" onerror="this.onerror='';this.src='/Course/ShowPicture/@c.ID';">
                                            </a>
                                            <div class="title trim">
                                                <a href="/Course/Show/@c.ID" title="@c.Title">@c.Title</a>
                                            </div><span class="signed">NaN 人学习</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div><!-- region end: 首页推荐课程 -->
                    </div>
                </div><div class="clear"></div>
            </div>
        </div>
        <div id="d_row_live" class="d-row" style="padding: 20px 0 20px 0;">
            <div class="d-row-c">
                <div class="d-col-2-1">
                    <div class="contentarea">
                        <div class="d-menu-vertical">
                            <a href="/News">
                                <div class="head course"></div>
                            </a>
                            <div class="body">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-col-2-11">
                    <div class="contentarea">
                        <div id="d_eventrecommend" class="d-eventrecommend">
                            <div class="body">
                                <div id="slide_eventrecommend" class="slidecontainer">
                                    @{ var index = 0; }
                                    @foreach (News l in ViewBag.News)
                                    {
                                        if (index++ == 0)
                                        {
                                            <span class="itemhot">
                                                <a class="act-cover cover" href="/News/Show/@l.ID" title="@l.Title">
                                                    <img src="@l.ImgUrl.First()" data-echo="@l.ImgUrl.First()" onerror="this.onerror='';this.src='@l.ImgUrl.First()';">
                                                </a>
                                                <div class="title trim"><a href="/News/Show/@l.ID" title="@l.Title">@l.Title</a></div>
                                                <span class="date">@l.Time.ToString("yyyy.MM.dd HH:mm")</span>
                                                <div class="desc">
                                                    @Html.Sanitized(@l.Content)
                                                </div>
                                            </span>
                                        }
                                        else
                                        {
                                            if (index == 6) { break; }
                                            <span class="item">
                                                <a class="act-cover cover" href="/News/Show/@l.ID" title="@l.Title">
                                                    <img src="@l.ImgUrl.First()" data-echo="@l.ImgUrl.First()" onerror="this.onerror='';this.src='@l.ImgUrl.First()';">
                                                </a>
                                                <div class="title trim">
                                                    <a href="/News/Show/@l.ID" title="@l.Title">@l.Title</a>
                                                </div>
                                                <span class="date">@l.Time.ToString("yyyy.MM.dd HH:mm")</span>
                                                <div class="desc">
                                                    @Html.Sanitized(@l.Content)
                                                </div>
                                            </span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="clear"></div>
        </div>
        <div id="d_row_ebook" class="d-row" style="padding: 20px 0 20px 0; background-color: #f7f7f7;">
            <div class="d-row-c">
                <div class="d-col-2-1">
                    <div class="contentarea">
                        <div class="d-menu-vertical">
                            <a href="/EBook">
                                <div class="head ebook">
                                </div>
                            </a>
                            <div class="body">
                                @foreach (TypeDictionary td in ViewBag.BookTypes)
                                {
                                    <a class="item" href="/EBook/Discovery/@td.ID">@td.TypeValue</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-col-2-11">
                    <div class="contentarea">
                        <!-- region start: 热门标签 -->
                        <div id="d_booktaghot" class="d-booktaghot">
                            <div class="body">
                                @{ string[] bookcolors = { "#23a532", "#169425", "#189727", "#11851e", "#23a532", "#189727" }; var bi = 0; }
                                @foreach (TypeDictionary td in ViewBag.BookTypes)
                                {
                                    <div class="item" style="background-color: @(bookcolors[bi++]);">
                                        <a href="#" title="@td.TypeValue">@td.TypeValue</a>
                                        <div>
                                            @foreach (TypeDictionary td2 in td.Children.Take(6).ToList())
                                            {
                                                <a class="" href="/EBook/Index?tid=@td2.ID" title="@td2.TypeValue">@td2.TypeValue</a>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div><div id="d_bookrecommend" class="d-bookrecommend">
                            <div class="body">
                                <div id="slide_bookrecommend" class="slidecontainer">
                                    @foreach (EBook eb in ViewBag.Books)
                                    {
                                        <div class="item">
                                            <a class="cover readingCover" href="/EBook/Show/@eb.ID" title="@eb.Title">
                                                <img src="/EBook/ShowPicture/@eb.ID" data-echo="/EBook/ShowPicture/@eb.ID" onerror="this.onerror='';this.src='/EBook/ShowPicture/@eb.ID';">
                                            </a>
                                            <div class="title trim">
                                                <a href="/EBook/Show/@eb.ID" title="@eb.Title">@eb.Title</a>
                                            </div><div class="author trim">
                                                @eb.Author
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="clear"></div>
            </div>
        </div>
        <div id="d_row_link" class="d-row" style="padding: 20px 0 20px 0; background-color: #f7f7f7;">
            <div class="d-row-c">
                <div class="d-col-2-1">
                    <div class="d-menu-vertical">
                        <a>
                            <p><img src="/Images/links.png" /></p>
                        </a>
                    </div>
                    <div class="body">

                    </div>
                </div>
                <div class="d-col-2-11">
                    <div class="contentarea">
                        <p>
                            @foreach (ResourceLink rl in ViewBag.ImgLinks)
                            {
                                <a href="@rl.URL" target="_blank"><img src="/Upload/@((new QqhrCitizen.Models.ViewModel.vResourceLink(rl)).File.Path)"  class="cc-link-img" /></a>
                            }
                        </p>
                        <p style="font-size: 20px;">
                            @foreach (ResourceLink rl in ViewBag.TextLinks)
                            {
                                <a href="@rl.URL" target="_blank">@rl.Title</a>@MvcHtmlString.Create("&nbsp;&nbsp;")
                            }
                        </p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>


    <div class="d-row" style="background-color: #ececec; border-top: 2px solid #474747;">
        <div class="d-row-c">
            <div class="d-col-1">
                <div class="contentarea"></div>
            </div>
            <div id="d_footer" class="d-footer">
                <div id="d_footer_c" class="d-footer-c">
                    <div class="l" style="display: block;">
                        Copyright © 2015 齐齐哈尔市广播电视大学. All Rights Reserved. 哈尔滨市码锋科技有限责任公司提供技术支持.
                    </div><div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <script>

        var adtranObj = new km_adtran();
        adtranObj.afterinit = function () {
            $('#div_spin').remove();
            $('.d-banner .loading').remove();
            $('#d_banner_c').css({
                visibility: 'visible'
            });
            $('#' + adtranObj.thumb).children().each(function (i) {
                var _i = i;
                $(this).on('mouseover', function () {
                    adtranObj.dotran(i);
                });
            });
            $('#d_homebanner').children().eq(0).css('z-index', '11');
            $('#d_homebanner').css('display', 'block');
            adtranObj.start();

            $proto.pageloaded = true;
        };
        adtranObj.beforetran = function (oidx, nidx) {
            if (oidx == -1) { return; }
            $('#' + adtranObj.thumb).children().eq(oidx).stop();
            $('#' + adtranObj.thumb).children().eq(nidx).stop();
            $('#' + adtranObj.thumb).children().eq(oidx).find('span').stop();
            $('#' + adtranObj.thumb).children().eq(nidx).find('span').stop();
            $('#' + adtranObj.thumb).children().eq(oidx).find('span').css({ 'width': '0' });
            $('#' + adtranObj.thumb).children().eq(nidx).find('span').css({ 'width': '0' });
            $('#' + adtranObj.thumb).children().eq(oidx).animate({ 'margin-top': '7px' }, 100);
            $('#' + adtranObj.thumb).children().eq(nidx).animate({ 'margin-top': '0' }, 100);
        }
        adtranObj.aftertran = function (nidx) {
            return;
            var it = adtranObj.list[nidx].interval;
            $('#' + adtranObj.thumb).children().eq(nidx).find('span').animate({ 'width': '100%' }, it, function () {
                $(this).css({ 'width': '0' });
            });
        }
        adtranObj.container = 'd_homebanner';
        adtranObj.thumb = 'd_banner_thumb';
        adtranObj.himgs = [
            @{ var iii = 0; }
            @foreach (Viewpager n in ViewBag.Pictures)
            {
                if (iii >= 5) { break; }
                @MvcHtmlString.Create("{ id: 'bb" + (iii + 1) + "', bg: '/Viewpager/ShowPicture/" + n.ID + "', thumb: '/Viewpager/ShowPicture/" + n.ID + "', bgcolor: '" + bgcolor[iii] + "', fgcolor: '#fff' },")
                { i++; }
            }
        ];
        var adtranObjList = [];
        for (var i = 0; i < adtranObj.himgs.length; i++) {
            var _id = 'bb' + (i + 1);
            var _d = { d: _id, interval: i == 0 ? 10000 : 5000 };
            adtranObjList.push(_d);
        }
        adtranObj.list = adtranObjList;
    </script>

    <style>
        .readingCover img {
            width: 106px;
            height: 158px;
        }

        .item .act-cover img {
            width: 222px;
            height: 125px;
        }

        .item .course-cover img {
            width: 297px;
            height: 167px;
        }

        .itemhot .act-cover img {
            width: 448px;
            height: 252px;
        }
    </style>
    <script>
        km_st.list = [
                         @foreach (var item in ViewBag.Navigation)
                    {
                        if (@item.Km_st_Id != "Null")
                        {
                         @MvcHtmlString.Create("{ id: '"+@item.Km_st_Id+"', text:'"+@item.Title+"'},")
                        }
                     }
        ];
    </script><div style="display: none;">
    </div>
    <script>
        $(function () {
            $('.channel').find('a').on('click', function () {
                var href = $(this).data('href');
                var fix = '';
                if ($proto.userinfo) {
                    var un = $proto.userinfo.encodeusername;
                    fix = '?n=' + un;
                }
                $(this).attr('href', href + fix);
            });
        });
    </script>
    <style>
        .d-banner-thumb, .d-homebanner li a .h, .d-homebanner li a .p {
            left: 20px;
        }
    </style>
    <style>
        #v_close {
            width: 70px;
            text-align: right;
            height: 25px;
            line-height: 25px;
            background: url(/file/video/close.jpg) no-repeat;
            font-size: 16px;
            color: #f2f2f2;
            display: block;
        }

        .header-search {
            width: 92px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            display: block;
            font-size: 14px;
            border: 1px solid #ddd;
            position: absolute;
            color: #888;
            cursor: pointer;
        }
        /*#videoWrapper { width:800px;  }*/
    </style>
    <script src="~/Scripts/init.js"></script>
    <script src="~/Scripts/history.js"></script>
    <style>
        .esplan-sp-item {
            float: left;
            height: 430px;
            width: 310px;
            margin-right: 35px;
        }

            .esplan-sp-item .esplan-cover, .esplan-sp-item .esplan-cover img {
                width: 310px;
                height: 230px;
            }

            .esplan-sp-item .esplan-cover {
                margin-bottom: 10px;
            }

            .esplan-sp-item .esplan-title {
                margin-bottom: 10px;
                color: #d10f1a;
                font-size: 18px;
            }

            .esplan-sp-item .esplan-content {
                height: 105px;
                word-break: break-all;
                font-size: 14px;
                line-height: 1.5em;
            }

            .esplan-sp-item .esplan-enter {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 100px;
            }
    </style>
    <script>
        $(function () {
            if ($('.esplan-sp-item').length > 0) {
                $('.esplan-sp-item:eq(2)').css('margin-right', '0');
            } else {
                $('#esplan_sp').remove();
            }
        });
    </script>
</body>
</html>