@{
    ViewBag.Title = "站内搜索";
}
<div id="d_bottom" class="d-bottom" style="visibility: hidden; position: relative;"><div class="d-bottom-c"><div id="d_scrolltop" class="d-scrolltop" style="right: -70px;"><span class="t" onclick="$(document.body).ScrollTo();">顶部</span></div></div></div>
<div class="d-row">
    <div class="d-row-c">
        <div class="d-col-2-8">
            <div class="contentarea">
                <!-- region start: 搜索条件 -->
                <div class="d-searchcondition" style="margin-top: 15px;">
                    <input id="SearchKey" name="SearchKey" type="hidden" value="1">
                    @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { id = "frmSearch1" }))
                    {
                        @Html.AntiForgerySID()
                        <input id="Search" name="key" maxlength="30" type="text" class="input-big" value="" placeholder="课程、新闻、电子书" style="width: 400px;">
                        <input type="button" class="btn btn-big btn-green" id="btnSearch" onclick="dosearch1();" style="width: 70px;" value="搜索">
                    }
                </div><!-- region end: 搜索条件 --><!-- region start: 搜索结果标签 -->
                <div id="d_searchtabs" class="d-searchtabs">
                    <input type="hidden" name="Key" id="searchKey" value="@ViewBag.Key" />
                    <a id=" headmenu_searchall" class="tab" onclick="Search(1);">课程<span class="baget">@ViewBag.CourseCount </span></a>
                    <a id="headmenu_searchevent" class="tab" onclick="Search(2);">新闻<span class="baget">@ViewBag.NewsCount </span></a>
                    <a id="headmenu_searchread" class="tab" onclick="Search(3);">电子书<span class="baget">@ViewBag.EBookCount </span></a>
                </div>
                <!-- region end: 搜索结果标签 --><!-- region start: 搜索结果列表 -->
                <div id="d_searchresultcourse" class="d-searchresultcourse" style="min-height: 270px; width: 652px;">
                    <div class="body">
                        <div class="item news_min_height result">

                        </div>
                    </div>
                    <div class="loadMore"></div>
                </div>
            </div>
            <!-- region end: 搜索结果列表 -->
        </div>
        <div class="d-col-2-4">
            <div class="contentarea">
                <!-- region start: 热门搜索 -->
                <div id="d_searchhot" class="d-searchhot">
                    <div class="head">热门搜索</div>
                    <div class="body">
                        @if (ViewBag.Hots != null)
                        {
                            foreach (var item in ViewBag.Hots as List<string>)
                            {
                                <div class="item">
                                    <a title="@item" href="javascript:void(0)" onclick="hotSearch(@item)">@item</a>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- region end: 热门搜索 -->
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<input type="hidden" id="sid" value="@ViewBag.SID" />
<script>
    var type = "course";
</script>