@using QqhrCitizen.Models;
@{
    ViewBag.Title = @ViewBag.ShowLive.Title + "_齐齐哈尔市民学习网";
}
<!-- functionality -->
<script type="text/javascript" src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/AC_RunActiveContent.js" language="javascript"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="/signalr/hubs"></script>
<script>
    $("#topmenu_live").attr("class", "item_selected");
    AC_FL_RunContent = 0;
</script>
<style type="text/css">
    table {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: black;
    }

    li {
        color: #FFFFFF;
    }

    ul li {
        margin: 10px 0;
    }

    td img {
        display: block;
    }

    body {
        background-color: #191919;
    }

    a:link {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a:visited {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }
</style>


<script language="javascript">

    var queryParameters = new Array();
    var flashVars = "";
    var tag = "";
    var url = "";

    var CurrPage = 1;
    var TotalPage = 1;
    var TotalVideo = 0;

    var FileList;

    var PlayURL = "@ViewBag.ShowLive.LiveURL";

    var mainURL, subURL, hasMain, hasSub;

    window.onload = function () {
        //var htmlobj=$.ajax({url:"/fmsinfo.do",async:false});

        //FileList = htmlobj.responseText.split(":");
        mainURL = "@ViewBag.ShowLive.LiveURL";
        subURL = "@ViewBag.ShowLive.LiveURL";

    }

    function PlayVideo() {
        document.getElementById("player").src = "/Live/Player?source=" + PlayURL + "&type=live";


    }
    function playMain() {
        document.getElementById("player").src = "/Live/Player?source=" + mainURL + "&type=live";

    }
</script>

<div id="d_menu" class="d-menu menu-bok">
    <div id="d_menu_c" class="d-menu-c">
        <!-- region start: menu -->
        <div id="d_headmenu" class="d-headmenu">
            <div class="body">
                <a class="item_selected" href="/EBook/Index" id="headmenu_default">直播首页</a>
            </div>
        </div><!-- region end: menu -->
    </div>
</div>
<div class="d-row">
    <div class="d-row-c">
        <div class="d-col-2-8">
            <div class="contentarea">
                <table width="677" height="380" align="center" cellpadding="0" cellspacing="0" bordercolor="#000000">
                    <tr>
                        <td valign="top" width="660" height="380">
                            <img src="~/Images/player.png" id="player_img" width="660" height="380" />
                            <iframe id="player" name="player" width="100%" height="100%" border=0 allowtransparency scrollbars=no frameborder="0" style="display:none"></iframe>
                        </td>
                    </tr>
                    <tr>
                        <td valign="center" style="color:green" height="25">
                            <a id="go_player">开始播放</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="d-col-2-4">
            <div class="contentarea">
                <input type="hidden" value="@ViewBag.LiveID" id="LiveID" />
                <input type="hidden" value="@((ViewBag.CurrentUser == null) ?"":ViewBag.CurrentUser.Username)" id="currentuser" />
                <div style="min-height:400px;">
                    <div class="msgDisplay" style="height: 340px; overflow:auto;">

                    </div>
                    <textarea id="txtMsg" class="textbox" style="height:100px;width:200px;"></textarea>
                    <input type="button" class="button blue" value="发送" id="newContosoChatMessage" />
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>


<script>
    var contosoChatHubProxy = $.connection.contosoChatHub;
    contosoChatHubProxy.client.addContosoChatMessageToPage = function (name, message) {
        var str = "<div>" + name + " " + moment(new Date()).format("YYYY-MM-DD HH:mm:ss") + "<p class='font-size:8px;'>" + message + "</p></div>";
        console.log(str);
        $(".msgDisplay").append(str);
    };

    contosoChatHubProxy.client.addGroupToShow = function (data) {

    }

    contosoChatHubProxy.client.removeGroupToShow = function (data) {

    }

    $.connection.hub.start().done(function () {
        // Wire up Send button to call NewContosoChatMessage on the server.
        contosoChatHubProxy.server.joinGroup($("#LiveID").val());
        $('#newContosoChatMessage').click(function () {
            if ($('#currentuser').val() == "") {
                CastMsg("请先登录在发送聊天信息");
                return false;
            }
            contosoChatHubProxy.server.newContosoChatMessage($('#currentuser').val(), $('#txtMsg').val(), $("#LiveID").val());
            $('#txtMsg').val('').focus();
        });
        $("#go_player").click(function () {
            playMain();
            $("#player_img").hide();
            $("#player").show();
        });
       
    });
</script>
