@using QqhrCitizen.Models
@using QqhrCitizen.Models.ViewModel
@{
    ViewBag.Title = "课程首页_齐齐哈尔市民学习网";
}
<div id="d_menu" class="d-menu menu-cou">
    <div id="d_menu_c" class="d-menu-c">
        <!-- region start: menu -->
        <div id="d_headmenu" class="d-headmenu">
            <div class="body">
                <a id="headmenu_default" class="item_selected" href="/Course/Index">课程首页</a>
                <a id="headmenu_discovery" class="item" href="/Course/Discovery/0">发现课程</a>
            </div>
        </div>
        <!-- region end: menu -->
    </div>
</div>
<div id="d_bottom" class="d-bottom" style="visibility: hidden; position: fixed;">
    <div class="d-bottom-c">
        <div id="d_scrolltop" class="d-scrolltop" style="right: -70px;">
            <span class="t" onclick="$(document.body).ScrollTo();">顶部</span>
        </div>
    </div>
</div>
<div class="d-row" style="margin-bottom: 20px; padding: 20px 0 0 0;">
    <div class="d-row-c">
        <div class="d-col-2-8">
            <div class="contentarea">
                <!-- region start: banner -->
                <div class="d-coursebanner">
                    <div class="container">
                        <div class="jcarousel-wrapper">
                            <div class="jcarousel" data-jcarousel="true" data-jcarouselautoscroll="true">
                                <ul style="left: -1304px; top: 0px;">
                                    <li>
                                        <a href="/Course/Course8382.html" target="_parent">
                                            <img title="随听随说社区英语" class="imgCourseRollPic" src="/File/Course/CourseRollPic/2014/11/18/201411180949027219.jpg" alt="" onerror="this.onerror='';this.src='/file/Images/Default/public_default_200_150.jpg'">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Course/Course8386.html" target="_parent">
                                            <img title="老年人轻松理财（上篇）" class="imgCourseRollPic" src="/File/Course/CourseRollPic/2014/11/18/201411180949411136.jpg" alt="" onerror="this.onerror='';this.src='/file/Images/Default/public_default_200_150.jpg'">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://jcwg.shlll.net" target="_blank">
                                            <img title="上海市进城务工人员技能文化培训" class="imgCourseRollPic" src="/File/Course/CourseRollPic/2014/12/25/201412251146495080.jpg" alt="" onerror="this.onerror='';this.src='/file/Images/Default/public_default_200_150.jpg'">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <p class="photo-credits"></p>
                            <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">‹</a>
                            <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
                            <p class="jcarousel-pagination" data-jcarouselpagination="true"><a href="#1" class="active">1</a><a href="#2" class="">2</a><a href="#3" class="">3</a></p>
                        </div>

                    </div>
                </div>
                <!-- region end: banner -->
            </div>
        </div>
        <div class="d-col-2-4">
            <div class="contentarea">
                <div id="d_ad_event_default_2" class="d-ad-323x264" style="padding: 0;">
                    <div class="container">
                        <a href="#" rel="nofollow" target="_blank"></a>
                    </div>
                </div><!-- region start: 培训机构 --><!-- region end: 培训机构 -->
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="d-row">
    <div class="d-row-c">
        <div class="d-col-2-8">
            <div class="contentarea">
                <!-- region start: 推荐课程 -->
                <div id="d_courserecommend" class="d-courserecommend">
                    <div class="head">
                        推荐课程
                        <span class="turn">
                            <span class="dot_select" onclick="km_slide.dottran('slide_courserecommend',0,498)"></span>
                            <span class="dot" onclick="km_slide.dottran('slide_courserecommend',1,498)"></span>
                            <span class="dot" onclick="km_slide.dottran('slide_courserecommend',2,498)"></span>
                        </span>
                    </div>
                    <div class="body">
                        <div id="slide_courserecommend" class="slidecontainer" style="top: 0px;">

                            @foreach (var item in ViewBag.LstNewCourse as List<vCourse>)
                            {
                                <div class="item">
                                    <a class="cover" href="/Course/Show/@item.ID" title="@item.Title" target="_blank">
                                        <img class="imgCoursePic" src="/Course/ShowPicture/@item.ID">
                                    </a>
                                    <div class="title">
                                        <a class="trim" style="max-width:184px; display:normal;" href="/Course/Show/@item.ID" title="可乐球" target="_blank">
                                            @item.Title
                                        </a>
                                    </div>
                                    <span class="signed">16</span>
                                    <span class="star star0"></span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-col-2-4">
            <div class="contentarea">
                <!-- region start: 热门分类 -->
                <div id="d_coursehotcategory" class="d-coursehotcategory">
                    <div class="head">
                        热门分类
                        <a href="/Course/Discovery">浏览更多&nbsp;&gt;&gt;</a>
                    </div>
                    <div class="body">
                        @foreach (var item in ViewBag.LstHotType as List<TypeDictionary>)
                        {
                            <a class="item" href="/Course/Discovery/@item.ID" title="@item.TypeValue">@item.TypeValue</a>
                        }
                    </div>
                </div>
                <!-- region end: 热门分类 -->
                <!-- region start: 学员动态 -->
                <div id="d_learningactivityfeed" class="d-learningactivityfeed">
                    <div class="head">
                        学习动态
                    </div>
                    <div class="body">
                        <div id="feed_learningactivity" class="feedcontainer" data-km-url="" style="top: 0px;">
                            @foreach (var item in ViewBag.LstRecord as List<vStudyRecord>)
                            {
                                <div class="item">
                                    <a class="userportrait" href="#">
                                        @if (item.User.Picture == null)
                                        {
                                            <img class="imgMemberPicS" style="height:20px;width:20px;vertical-align:baseline;" src="/Images/userphoto.png" />

                                        }
                                        else
                                        {
                                            <img class="imgMemberPicS" style="height:20px;width:20px;vertical-align:baseline;" src="/User/ShowPicture/@item.UserID" />
                                        }

                                    </a>
                                    <span class="gender male"></span>
                                    <span class="createtime">@item.Time</span>
                                    <a class="owner" href="#">
                                        <span title="江毅乐悠悠">@item.User.Username</span>
                                    </a>
                                    <div class="content">
                                        观看了在线课程
                                        <a href="/Course/Show/@item.Lession.Course" title="@item.Lession.Course.Title" target="_blank">@item.Lession.Course.Title</a>
                                        中的：
                                        <a href="/Course/LessionDetails/@item.LessionID" title="@item.Lession.Title" target="_blank">@item.Lession.Title</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!-- region end: 学员动态 -->
                <!-- region start: 课程发布 -->
                <!-- region end: 课程发布 -->
            </div>
        </div><div class="clear"></div>
    </div>
</div>