@using QqhrCitizen.Models
@using QqhrCitizen.Models.ViewModel
@{
    ViewBag.Title = "课程首页_齐齐哈尔市民学习网";
    ViewBag.Search = "课程名、标签";
}
<div id="d_menu" class="d-menu menu-cou">
    <div id="d_menu_c" class="d-menu-c">
        <!-- region start: menu -->
        <div id="d_headmenu" class="d-headmenu">
            <div class="body">
                <a id="headmenu_default" class="item_selected" href="/Course/Index">课程首页</a>
                <a id="headmenu_discovery" class="item" href="/Course/Discovery/0">发现课程</a>
            </div>
        </div>
        <!-- region end: menu -->
    </div>
</div>
<div id="d_bottom" class="d-bottom" style="visibility: hidden; position: fixed;">
    <div class="d-bottom-c">
        <div id="d_scrolltop" class="d-scrolltop" style="right: -70px;">
            <span class="t" onclick="$(document.body).ScrollTo();">顶部</span>
        </div>
    </div>
</div>
<div class="d-row">
    <div class="d-row-c">
        <div class="d-col-2-8">
            <div class="contentarea">
                <!-- region start: 推荐课程 -->
                <div id="d_courserecommend" class="d-courserecommend">
                    <div class="head">
                        推荐课程
                    </div>
                    <div class="body">
                        <div id="slide_courserecommend" class="slidecontainer" style="top: 0px;">

                            @foreach (var item in ViewBag.LstNewCourse as List<vCourse>)
                            {
                                <div class="item">
                                    <a class="cover" href="/Course/Show/@item.ID" title="@item.Title" target="_blank">
                                        <img class="imgCoursePic" src="/Course/ShowPicture/@item.ID">
                                    </a>
                                    <div class="title">
                                        <a class="trim" style="max-width:184px; display:normal;" href="/Course/Show/@item.ID" title="可乐球" target="_blank">
                                            @item.Title
                                        </a>
                                    </div>
                                    <span class="signed">@item.Browses</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <hr style="border: none; height: 1px; background-color: #ccc; margin: 20px 25px 0 0;">
                <div id="d_courserecommend" class="d-courserecommend">
                    <div class="head">
                        热门课程
                    </div>
                    <div class="body">
                        <div id="slide_courserecommend" class="slidecontainer" style="top: 0px;">
                            @foreach (var item in ViewBag.LstHotCourse as List<vCourse>)
                            {
                                <div class="item">
                                    <a class="cover" href="/Course/Show/@item.ID" title="@item.Title" target="_blank">
                                        <img class="imgCoursePic" src="/Course/ShowPicture/@item.ID">
                                    </a>
                                    <div class="title">
                                        <a class="trim" style="max-width:184px; display:normal;" href="/Course/Show/@item.ID" title="可乐球" target="_blank">
                                            @item.Title
                                        </a>
                                    </div>
                                    <span class="signed">@item.Browses</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-col-2-4">
            <div class="contentarea">
                <!-- region start: 热门分类 -->
                <div id="d_coursehotcategory" class="d-coursehotcategory">
                    <div class="head">
                        热门分类
                        <a href="/Course/Discovery/0">浏览更多&nbsp;&gt;&gt;</a>
                    </div>
                    <div class="body">
                        @foreach (var item in ViewBag.LstHotType as List<TypeDictionary>)
                        {
                            <a class="item" href="/Course/Discovery/@item.ID" title="@item.TypeValue">@item.TypeValue</a>
                        }
                    </div>
                </div>
                <!-- region end: 热门分类 -->
                <!-- region start: 学员动态 -->
                <div id="d_learningactivityfeed" class="d-learningactivityfeed">
                    <div class="head">
                        学习动态
                    </div>
                    <div class="body">
                        <div id="feed_learningactivity" class="feedcontainer" data-km-url="" style="top: 0px;">
                            @foreach (var item in ViewBag.LstRecord as List<vStudyRecord>)
                            {
                                <div class="item">
                                    <a class="userportrait" href="#">
                                        @if (item.User.Picture == null)
                                        {
                                            <img class="imgMemberPicS" style="height:20px;width:20px;vertical-align:baseline;" src="/Images/userphoto.png" />

                                        }
                                        else
                                        {
                                            <img class="imgMemberPicS" style="height:20px;width:20px;vertical-align:baseline;" src="/User/ShowPicture/@item.UserID" />
                                        }

                                    </a>
                                    <span class="gender male"></span>
                                    <span class="createtime">@item.Time</span>
                                    <a class="owner" href="#">
                                        <span title="江毅乐悠悠">@item.User.Username</span>
                                    </a>
                                    <div class="content">
                                        观看了在线课程
                                        <a href="/Course/Show/@item.Lession.Course" title="@item.Lession.Course.Title" target="_blank">@item.Lession.Course.Title</a>
                                        中的：
                                        <a href="/Course/LessionDetails/@item.LessionID" title="@item.Lession.Title" target="_blank">@item.Lession.Title</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!-- region end: 学员动态 -->
                <!-- region start: 课程发布 -->
                <!-- region end: 课程发布 -->
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>