@using QqhrCitizen.Models
@using QqhrCitizen.Models.ViewModel
@{
    Lession lession = ViewBag.Lession as Lession;
    List<vNote> listNote = ViewBag.ListNote as List<vNote>;
    List<vQuestion> questions = ViewBag.Questions as List<vQuestion>;
    bool flag = ViewBag.Flag;
    ViewBag.Title = lession.Title;
}

<script>
    $("#topmenu_course").attr("class", "item_selected");
</script>
<script src="~/Scripts/alertify.js"></script>
<script src="~/Scripts/jquery.timers-1.2.js"></script>
<link rel="stylesheet" href="~/Styles/alertify.css" />
<link rel="stylesheet" href="~/Styles/alertify-bootstrap.css" />
<link rel="stylesheet" href="~/Styles/alertify-bootstrap-3.css" />
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<div id="d_menu" class="d-menu menu-cou">
    <div id="d_menu_c" class="d-menu-c">
        <!-- region start: menu -->
        <div id="d_headmenu" class="d-headmenu">

            <div class="body">
                <a id="headmenu_default" class="item" href="/Course/Index" target="_parent">课程首页</a>
                <a id="headmenu_discovery" class="item" href="/Course/Discovery/0" target="_parent">发现课程</a>
            </div>
        </div>
        <!-- region end: menu -->
    </div>
</div>

<div id="d_main" class="d-main" style="min-width: 1000px;">
    <div class="container">
        <div class="d-row" style="padding: 20px 0 0 0;">
            <div class="d-row-c">
                <div class="d-col-2-8">
                    <div class="contentarea">
                        <!-- region start: 课程信息 -->
                        <div id="d_coursedetail" class="d-coursedetail" width="600" height="400">
                            <h2>@lession.Title</h2>
                            <input type="hidden" id="hdCurrentuser" value="@(ViewBag.CurrentUser!=null? @ViewBag.CurrentUser.Username:"")" />
                            <input type="hidden" name="name" id="LessionID" value="@lession.ID" />
                            @if (flag == true)
                            {
                                <iframe src="@lession.Path" width="600" height="400"></iframe>
                            }
                            else
                            {
								if(lession.Path.ToString().Substring(lession.Path.ToString().Length-3,3)!="wmv")
								{
								<div id="a1"></div>
								<script type="text/javascript" src="~/Scripts/ckplayer/ckplayer.js" charset="utf-8"></script>
								<script type="text/javascript">
									var flashvars={
										f:'@lession.Path',
										c:0
									};
									var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
									var video=['@lession.Path'];
									CKobject.embed('/Scripts/ckplayer/ckplayer.swf','a1','ckplayer_a1','600','400',false,flashvars,video,params);
													
								</script>
								}
								else
								{
								<OBJECT classid="CLSID:22d6f312-b0f6-11d0-94ab-0080c74c7e95" codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=5,1,52,701" type=application/x-oleobject STANDBY="Loading Microsoft Windows Media Player components..." width="500" height="400">
								 <PARAM NAME="AudioStream" VALUE="-1">
								 <PARAM NAME="AutoSize" VALUE="0">
								 <PARAM NAME="AutoStart" VALUE="-1">
								 <PARAM NAME="AnimationAtStart" VALUE="0">
								 <PARAM NAME="AllowScan" VALUE="-1">
								 <PARAM NAME="AllowChangeDisplaySize" VALUE="-1">
								 <PARAM NAME="AutoRewind" VALUE="0">
								 <PARAM NAME="Balance" VALUE="0">
								 <PARAM NAME="BaseURL" VALUE="">
								 <PARAM NAME="BufferingTime" VALUE="5">
								 <PARAM NAME="CaptioningID" VALUE="">
								 <PARAM NAME="ClickToPlay" VALUE="-1">
								 <PARAM NAME="CursorType" VALUE="0">
								 <PARAM NAME="CurrentPosition" VALUE="-1">
								 <PARAM NAME="CurrentMarker" VALUE="0">
								 <PARAM NAME="DefaultFrame" VALUE="">
								 <PARAM NAME="DisplayBackColor" VALUE="0">
								 <PARAM NAME="DisplayForeColor" VALUE="16777215">
								 <PARAM NAME="DisplayMode" VALUE="0">
								 <PARAM NAME="DisplaySize" VALUE="4">
								 <PARAM NAME="Enabled" VALUE="-1">
								 <PARAM NAME="EnableContextMenu" VALUE="-1">
								 <PARAM NAME="EnablePositionControls" VALUE="-1">
								 <PARAM NAME="EnableFullScreenControls" VALUE="0">
								 <PARAM NAME="EnableTracker" VALUE="-1">
								 <PARAM NAME="Filename" VALUE="@lession.Path">
								 <PARAM NAME="InvokeURLs" VALUE="-1">
								 <PARAM NAME="Language" VALUE="-1">
								 <PARAM NAME="Mute" VALUE="0">
								 <PARAM NAME="PlayCount" VALUE="1">
								 <PARAM NAME="PreviewMode" VALUE="0">
								 <PARAM NAME="Rate" VALUE="1">
								 <PARAM NAME="SAMILang" VALUE="">
								 <PARAM NAME="SAMIStyle" VALUE="">
								 <PARAM NAME="SAMIFileName" VALUE="">
								 <PARAM NAME="SelectionStart" VALUE="-1">
								 <PARAM NAME="SelectionEnd" VALUE="-1">
								 <PARAM NAME="SendOpenStateChangeEvents" VALUE="-1">
								 <PARAM NAME="SendWarningEvents" VALUE="-1">
								 <PARAM NAME="SendErrorEvents" VALUE="-1">
								 <PARAM NAME="SendKeyboardEvents" VALUE="0">
								 <PARAM NAME="SendMouseClickEvents" VALUE="0">
								 <PARAM NAME="SendMouseMoveEvents" VALUE="0">
								 <PARAM NAME="SendPlayStateChangeEvents" VALUE="-1">
								 <PARAM NAME="ShowCaptioning" VALUE="0">
								 <PARAM NAME="ShowControls" VALUE="-1">
								 <PARAM NAME="ShowAudioControls" VALUE="-1">
								 <PARAM NAME="ShowDisplay" VALUE="0">
								 <PARAM NAME="ShowGotoBar" VALUE="0">
								 <PARAM NAME="ShowPositionControls" VALUE="0">
								 <PARAM NAME="ShowStatusBar" VALUE="-1">
								 <PARAM NAME="ShowTracker" VALUE="0">
								 <PARAM NAME="TransparentAtStart" VALUE="0">
								 <PARAM NAME="VideoBorderWidth" VALUE="0">
								 <PARAM NAME="VideoBorderColor" VALUE="0">
								 <PARAM NAME="VideoBorder3D" VALUE="0">
								 <PARAM NAME="Volume" VALUE="-600">
								 <PARAM NAME="WindowlessVideo" VALUE="0">
								 <embed type="application/x-mplayer2" pluginspage="http://www.microsoft.com/Windows/Downloads/Contents/Products/MediaPlayer/" Name="MediaPlayer" src="@lession.Path" HEIGHT="400" WIDTH="500" ShowControls="1" ShowPositionControls="1" ShowAudioControls="1" ShowTracker="0" ShowDisplay="1" ShowStatusBar="0" ShowGoToBar="0" ShowCaptioning="0" AutoStart="1" AutoRewind="0" AnimationAtStart="0" TransparentAtStart="0" AllowChangeDisplaySize="0" AllowScan="0" EnableContextMenu="1" ClickToPlay="1"></embed>
								</OBJECT>
								<script>
								
								if(!$.browser.msie){ 
								document.write("<p style='font-size:14px'>如果无法观看视频，说明你未安装<strong>wmpfirefoxplugin</strong>插件，<a target='_blank' href='http://download.csdn.net/detail/fanfzj/8920997'>下载地址</a></p>");
								document.write("<p style='font-size:14px'>详细步骤：<a target='_blank' href='http://www.cnit618.com/html/fwdkf/jzjq/2651.htm'>谷歌浏览器CHROME 不能显示或播放Windows Media player plugin的解决方法</a></p>");
								}
								</script> 
								
								}
                            }
                        </div>
                        <div style="width:600px;height:400px;background-color:#ffffff;position: absolute;top: 34px;z-index:1000;display:none" id="video-hidden">
							<button>
						</div>
                        <hr style="border: none; height: 1px; background-color: #ccc; margin: 20px 25px 0 0;">
                        <div id="d_courseware" class="d-courseware">
                            <div class="head">
                                课堂笔记
                            </div>
                            <div class="body">
                                <input type="hidden" id="userId" name="UserID" value="@(ViewBag.CurrentUser==null?"":@ViewBag.CurrentUser.ID)" />
                                <input type="hidden" name="LessionID" id="LessionID" value="@lession.ID" />
                                <input type="hidden" id="sid" value="@ViewBag.SID" />
                                <textarea name="Content" class="textbox" id="noteContent"></textarea>
                                <p><input type="button" value="保存" id="btnAddNote" class="btn btn-orange btn-big" style="margin-left:10px;width:100px" /></p>
                                <div style="padding-top:10px;"><h5>历史笔记</h5></div>
                                <div id="lstNote">
                                    @if (listNote != null)
            {
                foreach (var note in listNote)
                {
                    <div class="div_HisNote">
                        @Html.Sanitized(@note.Content)
                        <br />
                        <span style="color:#808080;font-size:14px;text-align:right;margin-right:10px">@note.Time</span>
                    </div>
                }
            }

                                </div>
                            </div>
                        </div>
                        <hr style="border: none; height: 1px; background-color: #ccc; margin: 20px 25px 0 0;">
                        <div id="d_courseware" class="d-courseware">
                            <div class="head">
                                课后问题
                            </div>
                            <div class="body">

                                                                @if (questions.Count() == 0)
                                                                {
                                                                    <p style ="position:absolute; bottom:10px;text-align:center;width:1000px;color:#00a000">
                                                                        暂无课后问题</p>
                                                                }
                                                                else
                                                                {
                                                                    <input type="hidden" id="questionCount" value="@questions.Count" />
                                                                    for (int i = 0; i < questions.Count(); i++)
                                                                    {
                                                                        <div class="question" style="font-size:16px">
                                                                            @(i + 1)<span>.</span>@questions[i].Content <br />
                                                                            <input value="@questions[i].RightAnswer" type="hidden" class="roghtanswer" />
                                                                            @for (int j = 0; j < questions[i].Answers.Count(); j++)
                                                                            {
                                                                                <div class="radio"><label><input name="answer@(i+1)" type="radio" value="@j" class="answer" />@CommonEnums.Answers[j] : @questions[i].Answers[j]</label></div>
                                                                            }
                                                                        </div>

                                                                    }
                                                                    <input type="button" class="btn btn-orange btn-big" value="提交" style="width:100px;margin-bottom:10px" id="btnAnswerQuestion" />

                                                                }
                                                                <div class="warning"></div>

</div>
                        </div>



                    </div>
                </div>
                <div class="d-col-2-4">
                    <div class="contentarea">
                        <div id="Record" class="d-courseaction well">
                            <h2>课时</h2>
                            @foreach (var item in ViewBag.Lessions as List<vLession>)
            {
                                <p><a href="/Course/LessionDetails/@item.ID">[@item.Time.ToString("yyyy-MM-dd")] @item.Title</a></p>
            }
                        </div>
                        <div class="d-courseaction well">
                            <a href="/Course/Test/@lession.CourseID">课程测试</a>
                        </div>
                    </div>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<script>
    @*window.onbeforeunload = onbeforeunload_handler;
    window.onunload = onunload_handler;
    function onbeforeunload_handler() {
        var warning = "确认退出?";
        return warning;
    }
    function onunload_handler() {
        var user = $("#hdCurrentuser").val();
        alert(user);
        if (user != null && user != "") {
            $.post("/Course/LearningRecord/@lession.ID", function (data) {
            });
        }
    }*@

    window.onbeforeunload = onbeforeunload_handler;
    window.onunload = onunload_handler;
    function onbeforeunload_handler() {
        if (event.clientX > document.body.clientWidth && event.clientY < 0 || event.altKey) {
            alert("你关闭了浏览器");
        } else {
            alert("你正在刷新页面");
        }
    }

    //function onbeforeunload_handler() {
    //    if (document.body.clientWidth-event.clientX<21||event.altKey||event.ctrlKey){
    //        alert("close");
    //    }else{
    //        window.event.returnValue="";
    //        alert("refrash");
    //        return false;
    //    }
    //}

    function onunload_handler() {
        var user = $("#hdCurrentuser").val();
        //alert(user);
        if (user != null && user != "") {
            $.post("/Course/LearningRecord/@lession.ID", function (data) {
            });
        }
    }

    @*$(function () {
        $(window).unbind().bind('beforeunload', function () {
            if (document.body.clientWidth - event.clientX < 21 || event.altKey || event.ctrlKey) {
                alert("close");
            } else {
                window.event.returnValue = "";
                alert("refrash");
                return false;
            }
        })
        $(window).unbind().bind('onunload', function () {
            var user = $("#hdCurrentuser").val();
            alert(user);
            if (user != null && user != "") {
                $.post("/Course/LearningRecord/@lession.ID", function (data) {
                });
            }
        })


    })*@

    CKEDITOR.replace('Content',
    {
        toolbar: 'Basic',
        width: "100%",
        height: "80px"
    });
    $(function () {
        reset = function () {
            alertify.set({
                labels: {
                    ok: "继续",
                    cancel: "取消"
                },
                delay: 5000,
                buttonReverse: false,
                buttonFocus: "ok"
            });
        };
        $('body').everyTime('600s', function () {
            reset();
            $("#video-hidden").show();
			CKobject.getObjectById('ckplayer_a1').videoPause();
            alertify.confirm("确认框", function (e) {
                if (e) {
                    alertify.success("点击确认");
					CKobject.getObjectById('ckplayer_a1').videoPlay();
                    $("#video-hidden").hide();
                } else {
                    alertify.error("点击取消");
					CKobject.getObjectById('ckplayer_a1').videoPause();
                    $("#video-hidden").show();
                }
            });
        });
    });
</script>
