@using QqhrCitizen.Models
@using QqhrCitizen.Models.ViewModel
@{
    Lession lession = ViewBag.Lession as Lession;
    List<vNote> listNote = ViewBag.ListNote as List<vNote>;
    List<vQuestion> questions = ViewBag.Questions as List<vQuestion>;
    bool flag = ViewBag.Flag;
    ViewBag.Title = lession.Title;
}
<script>
    $("#topmenu_course").attr("class", "item_selected");
</script>
<script src="~/Scripts/alertify.js"></script>
<script src="~/Scripts/jquery.timers-1.2.js"></script>
<link rel="stylesheet" href="~/Styles/alertify.css" />
<link rel="stylesheet" href="~/Styles/alertify-bootstrap.css" />
<link rel="stylesheet" href="~/Styles/alertify-bootstrap-3.css" />
<script src="~/Scripts/video.js"></script>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<div id="d_menu" class="d-menu menu-cou">
    <div id="d_menu_c" class="d-menu-c">
        <!-- region start: menu -->
        <div id="d_headmenu" class="d-headmenu">

            <div class="body">
                <a id="headmenu_default" class="item" href="/Course/Index" target="_parent">课程首页</a>
                <a id="headmenu_discovery" class="item" href="/Course/Discovery/0" target="_parent">发现课程</a>
            </div>
        </div>
        <!-- region end: menu -->
    </div>
</div>
<div id="d_main" class="d-main" style="min-width: 1000px;">
    <div class="container">
        <div class="d-row" style="padding: 20px 0 0 0;">
            <div class="d-row-c">
                <div class="d-col-2-8">
                    <div class="contentarea">
                        <!-- region start: 课程信息 -->
                        <div id="d_coursedetail" class="d-coursedetail">
                            <h2>@lession.Title</h2>
                            <input type="hidden" id="hdCurrentuser" value="@(ViewBag.CurrentUser!=null? @ViewBag.CurrentUser.Username:"")" />
                            <input type="hidden" name="name" id="LessionID" value="@lession.ID" />
                            @if (flag == true)
                            {
                                <iframe src="@lession.Path" width="600" height="400"></iframe>
                            }
                            else
                            {
                                if (lession.ContentType.ToString().Equals("video/mp4") || lession.ContentType.ToString().Equals("video/ogg") || lession.ContentType.ToString().Equals("video/webm"))
                                {
                                    <video controls="" autoplay="" name="media" width="600" height="400">
                                        <source src="@lession.Path" type="video/mp4">
                                        <source src="@lession.Path" type="video/ogg">
                                        <source src="@lession.Path" type="video/webm">
                                        <source src="@lession.Path" type="audio/mpeg">
                                        <source src="@lession.Path" type="audio/ogg">
                                    </video>
                                }
                                else if (lession.ContentType.ToString().Equals("video/mpeg"))
                                {
                                    <object classid="clsid:05589FA1-C356-11CE-BF01-00AA0055595A" id="ActiveMovie1" width="239" height="250">
                                        <param name="Appearance" value="0">
                                        <param name="AutoStart" value="-1">
                                        <param name="AllowChangeDisplayMode" value="-1">
                                        <param name="AllowHideDisplay" value="0">
                                        <param name="AllowHideControls" value="-1">
                                        <param name="AutoRewind" value="-1">
                                        <param name="Balance" value="0">
                                        <param name="CurrentPosition" value="0">
                                        <param name="DisplayBackColor" value="0">
                                        <param name="DisplayForeColor" value="16777215">
                                        <param name="DisplayMode" value="0">
                                        <param name="Enabled" value="-1">
                                        <param name="EnableContextMenu" value="-1">
                                        <param name="EnablePositionControls" value="-1">
                                        <param name="EnableSelectionControls" value="0">
                                        <param name="EnableTracker" value="-1">
                                        <param name="Filename" value="@lession.Path" valuetype="ref">
                                        <param name="FullScreenMode" value="0">
                                        <param name="MovieWindowSize" value="0">
                                        <param name="PlayCount" value="1">
                                        <param name="Rate" value="1">
                                        <param name="SelectionStart" value="-1">
                                        <param name="SelectionEnd" value="-1">
                                        <param name="ShowControls" value="-1">
                                        <param name="ShowDisplay" value="-1">
                                        <param name="ShowPositionControls" value="0">
                                        <param name="ShowTracker" value="-1">
                                        <param name="Volume" value="-480">
                                    </object>
                                }
                                else
                                {
                                    <script> player("@lession.Path", 600, 400, 1, "start.jpg");</script>
                                }

                            }
</div>
<div style="width:600px;height:400px;background-color:#ffffff;position: absolute;top: 34px;z-index:1000;display:none" id="video-hidden"></div>
<hr style="border: none; height: 1px; background-color: #ccc; margin: 20px 25px 0 0;">
<div id="d_courseware" class="d-courseware">
    <div class="head">
        课堂笔记
    </div>
    <div class="body">
        <input type="hidden" id="userId" name="UserID" value="@(ViewBag.CurrentUser==null?"":@ViewBag.CurrentUser.ID)" />
        <input type="hidden" name="LessionID" id="LessionID" value="@lession.ID" />
        <input type="hidden" id="sid" value="@ViewBag.SID" />
        <textarea name="Content" class="textbox" id="noteContent"></textarea>
        <p><input type="button" value="保存" id="btnAddNote" class="btn btn-orange btn-big" style="margin-left:10px;width:100px" /></p>
        <div style="padding-top:10px;"><h5>历史笔记</h5></div>
        <div id="lstNote">
            @if (listNote != null)
            {
                foreach (var note in listNote)
                {
                    <div class="div_HisNote">
                        @Html.Sanitized(@note.Content)
                        <br />
                        <span style="color:#808080;font-size:14px;text-align:right;margin-right:10px">@note.Time</span>
                    </div>
                }
            }

        </div>
    </div>
</div>
<hr style="border: none; height: 1px; background-color: #ccc; margin: 20px 25px 0 0;">
<div id="d_courseware" class="d-courseware">
    <div class="head">
        课后问题
    </div>
    <div class="body">

        @if (questions.Count() == 0)
        {
            <div>暂无课后问题</div>
        }
        else
        {
            <input type="hidden" id="questionCount" value="@questions.Count" />
            for (int i = 0; i < questions.Count(); i++)
            {
                <div class="question" style="font-size:16px">
                    @(i + 1)<span>.</span>@questions[i].Content <br />
                    <input value="@questions[i].RightAnswer" type="hidden" class="roghtanswer" />
                    @for (int j = 0; j < questions[i].Answers.Count(); j++)
                    {
                        <div class="radio"><label><input name="answer@(i+1)" type="radio" value="@j" class="answer" />@CommonEnums.Answers[j] : @questions[i].Answers[j]</label></div>
                    }
                </div>

            }
            <input type="button" class="btn btn-orange btn-big" value="提交" style="width:100px;margin-bottom:10px" id="btnAnswerQuestion" />

        }
        <div class="warning"></div>

    </div>
</div>



</div>
</div>
<div class="d-col-2-4">
    <div class="contentarea">
        <div id="Record" class="d-courseaction well">
            <h2>课时</h2>
            @foreach (var item in ViewBag.Lessions as List<vLession>)
            {
                <p><a href="/Course/LessionDetails/@item.ID">[@item.Time.ToString("yyyy-MM-dd")] @item.Title</a></p>
            }
        </div>
        <div class="d-courseaction well">
            <a href="/Course/Test/@lession.CourseID">课程测试</a>
        </div>
    </div>

</div>
<div class="clear"></div>
</div>
</div>
</div>
</div>

<script>
    @*window.onbeforeunload = onbeforeunload_handler;
    window.onunload = onunload_handler;
    function onbeforeunload_handler() {
        var warning = "确认退出?";
        return warning;
    }
    function onunload_handler() {
        var user = $("#hdCurrentuser").val();
        alert(user);
        if (user != null && user != "") {
            $.post("/Course/LearningRecord/@lession.ID", function (data) {
            });
        }
    }*@

    window.onbeforeunload = onbeforeunload_handler;
    window.onunload = onunload_handler;
    function onbeforeunload_handler() {
        if (event.clientX > document.body.clientWidth && event.clientY < 0 || event.altKey) {
            alert("你关闭了浏览器");
        } else {
            alert("你正在刷新页面");
        }
    }

    //function onbeforeunload_handler() {
    //    if (document.body.clientWidth-event.clientX<21||event.altKey||event.ctrlKey){
    //        alert("close");
    //    }else{
    //        window.event.returnValue="";
    //        alert("refrash");
    //        return false;
    //    }
    //}

    function onunload_handler() {
        var user = $("#hdCurrentuser").val();
        //alert(user);
        if (user != null && user != "") {
            $.post("/Course/LearningRecord/@lession.ID", function (data) {
            });
        }
    }

    @*$(function () {
        $(window).unbind().bind('beforeunload', function () {
            if (document.body.clientWidth - event.clientX < 21 || event.altKey || event.ctrlKey) {
                alert("close");
            } else {
                window.event.returnValue = "";
                alert("refrash");
                return false;
            }
        })
        $(window).unbind().bind('onunload', function () {
            var user = $("#hdCurrentuser").val();
            alert(user);
            if (user != null && user != "") {
                $.post("/Course/LearningRecord/@lession.ID", function (data) {
                });
            }
        })


    })*@

    CKEDITOR.replace('Content',
    {
        toolbar: 'Basic',
        width: "100%",
        height: "80px"
    });
    $(function () {
        reset = function () {
            alertify.set({
                labels: {
                    ok: "继续",
                    cancel: "取消"
                },
                delay: 5000,
                buttonReverse: false,
                buttonFocus: "ok"
            });
        };
        $('body').everyTime('600s', function () {
            reset();
            alertify.confirm("确认框", function (e) {
                if (e) {
                    alertify.success("点击确认");
                    $("#video-hidden").hide();
                } else {
                    alertify.error("点击取消");
                    $("#video-hidden").show();
                }
            });
        });
    });
</script>
