@using QqhrCitizen.Models
@using QqhrCitizen.Models.ViewModel
@{
    Lession lession = ViewBag.Lession as Lession;
    List<vNote> listNote = ViewBag.ListNote as List<vNote>;
    List<vQuestion> questions = ViewBag.Questions as List<vQuestion>;
    bool flag = ViewBag.Flag;
    ViewBag.Title = lession.Title;
}
<script>
    $("#topmenu_course").attr("class", "item_selected");
</script>
<script src="~/Scripts/alertify.js"></script>
<script src="~/Scripts/jquery.timers-1.2.js"></script>
<link rel="stylesheet" href="~/Styles/alertify.css" />
<link rel="stylesheet" href="~/Styles/alertify-bootstrap.css" />
<link rel="stylesheet" href="~/Styles/alertify-bootstrap-3.css" />
<script src="~/Scripts/video.js"></script>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<div id="d_menu" class="d-menu menu-cou">
    <div id="d_menu_c" class="d-menu-c">
        <!-- region start: menu -->
        <div id="d_headmenu" class="d-headmenu">

            <div class="body">
                <a id="headmenu_default" class="item" href="/Course/Index" target="_parent">课程首页</a>
                <a id="headmenu_discovery" class="item" href="/Course/Discovery/0" target="_parent">发现课程</a>
            </div>
        </div>
        <!-- region end: menu -->
    </div>
</div>
<div id="d_main" class="d-main" style="min-width: 1000px;">
    <div class="container">
        <div class="d-row" style="padding: 20px 0 0 0;">
            <div class="d-row-c">
                <div class="d-col-2-8">
                    <div class="contentarea">
                        <!-- region start: 课程信息 -->
                        <div id="d_coursedetail" class="d-coursedetail">
                            <h2>@lession.Title</h2>
                            <input type="hidden" id="hdCurrentuser" value="@(ViewBag.CurrentUser!=null? @ViewBag.CurrentUser.Username:"")" />
                            <input type="hidden" name="name" id="LessionID" value="@lession.ID" />
                            @if (flag == true)
                            {
                                <iframe src="@lession.Path" width="600" height="400"></iframe>
                            }
                            else
                            {
                                if (lession.ContentType.ToString().Equals("video/mp4") || lession.ContentType.ToString().Equals("video/ogg") || lession.ContentType.ToString().Equals("video/webm"))
                                {
                                    <video controls="" autoplay="" name="media" width="600" height="400">
                                        <source src="@lession.Path" type="video/mp4">
                                        <source src="@lession.Path" type="video/ogg">
                                        <source src="@lession.Path" type="video/webm">
                                        <source src="@lession.Path" type="audio/mpeg">
                                        <source src="@lession.Path" type="audio/ogg">
                                    </video>
                                }
                                
                                else if (lession.ContentType.ToString().Equals("video/avi"))
                                {
                                    <object id="video" width="600" height="400" border="0" classid="clsid:CFCDAA03-8BE4-11cf-B84B-0020AFBBCCFA">
                                        <param name="ShowDisplay" value="0">
                                        <param name="ShowControls" value="1">
                                        <param name="AutoStart" value="1">
                                        <param name="AutoRewind" value="0">
                                        <param name="PlayCount" value="0">
                                        <param name="Appearance value=" 0 value="">
                                        <param name=" borderstyle value=" 0 value="">
                                        <param name="MovieWindowHeight" value="240">
                                        <param name="MovieWindowWidth" value="320">
                                        <param name="FileName" value="@lession.Path">
                                        <embed width="400" height="200" border="0" showdisplay="0" showcontrols="1" autostart="1" autorewind="0" playcount="0" moviewindowheight="240" moviewindowwidth="320" filename="http://www.jianzhan8.cn/sample.avi" src="sample.avi">
                                        </embed>
                                    </object>
                                }
                                else if (lession.ContentType.ToString().Equals("video/rm"))
                                {
                                    <object id=video1 classid="clsid:CFCDAA03-8BE4-11cf-B84B-0020AFBBCCFA" height=400 width=600>
                                        <param name="_ExtentX" value="9313">
                                        <param name="_ExtentY" value="7620">
                                        <param name="AUTOSTART" value="0">
                                        <param name="SHUFFLE" value="0">
                                        <param name="PREFETCH" value="0">
                                        <param name="NOLABELS" value="0">
                                        <param name="SRC" value="@lession.Path">
                                        <param name="CONTROLS" value="ImageWindow">
                                        <param name="CONSOLE" value="Clip1">
                                        <param name="LOOP" value="0">
                                        <param name="NUMLOOP" value="0">
                                        <param name="CENTER" value="0">
                                        <param name="MAINTAINASPECT" value="0">
                                        <param name="BACKGROUNDCOLOR" value="#000000">
                                        <embed src type="audio/x-pn-realaudio-plugin" console="Clip1" controls="ImageWindow" height="288" width="352" autostart="false">
                                    </object>
                                }
                                else if (lession.ContentType.ToString().Equals("video/wmv"))
                                {
                                    <object id="NSPlay" width=200 height=180 classid="CLSID:22d6f312-b0f6-11d0-94ab-0080c74c7e95" codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=6,4,5,715" standby="Loading Microsoft Windows Media Player components..." type="application/x-oleobject" align="right" hspace="5">
                                        <!-- ASX File Name -->
                                        <param name="AutoRewind" value=1>
                                        <param name="FileName" value="@lession.Path">
                                        <!-- Display Controls -->
                                        <param name="ShowControls" value="1">
                                        <!-- Display Position Controls -->
                                        <param name="ShowPositionControls" value="0">
                                        <!-- Display Audio Controls -->
                                        <param name="ShowAudioControls" value="1">
                                        <!-- Display Tracker Controls -->
                                        <param name="ShowTracker" value="0">
                                        <!-- Show Display -->
                                        <param name="ShowDisplay" value="0">
                                        <!-- Display Status Bar -->
                                        <param name="ShowStatusBar" value="0">
                                        <!-- Diplay Go To Bar -->
                                        <param name="ShowGotoBar" value="0">
                                        <!-- Display Controls -->
                                        <param name="ShowCaptioning" value="0">
                                        <!-- Player Autostart -->
                                        <param name="AutoStart" value=1>
                                        <!-- Animation at Start -->
                                        <param name="Volume" value="-2500">
                                        <param name="AnimationAtStart" value="0">
                                        <!-- Transparent at Start -->
                                        <param name="TransparentAtStart" value="0">
                                        <!-- Do not allow a change in display size -->
                                        <param name="AllowChangeDisplaySize" value="0">
                                        <!-- Do not allow scanning -->
                                        <param name="AllowScan" value="0">
                                        <!-- Do not show contect menu on right mouse click -->
                                        <param name="EnableContextMenu" value="0">
                                        <!-- Do not allow playback toggling on mouse click -->
                                        <param name="ClickToPlay" value="0">
                                    </object>

                                }
                                else
                                {
                                    <script>
                                        if (window.addEventListener)
                                        {
                                            player("@lession.Path", 600, 400, 1, "start.jpg");
                                        }
                                        else 
                                        {
                                            str = "<object align=middle classid='CLSID:22d6f312-b0f6-11d0-94ab-0080c74c7e95' class=OBJECT id=MediaPlayer width=600 height=400><param name=ShowStatusBar value=0><param name=Filename value=@lession.Path><embed type=application/x-oleobject codebase='http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=5,1,52,701'></embed></object>";
                                            $("#d_coursedetail").html(str);
                                        }
                                    </script>
                                }

                            }
                        </div>
                        <div style="width:600px;height:400px;background-color:#ffffff;position: absolute;top: 34px;z-index:1000;display:none" id="video-hidden"></div>
                        <hr style="border: none; height: 1px; background-color: #ccc; margin: 20px 25px 0 0;">
                        <div id="d_courseware" class="d-courseware">
                            <div class="head">
                                课堂笔记
                            </div>
                            <div class="body">
                                <input type="hidden" id="userId" name="UserID" value="@(ViewBag.CurrentUser==null?"":@ViewBag.CurrentUser.ID)" />
                                <input type="hidden" name="LessionID" id="LessionID" value="@lession.ID" />
                                <input type="hidden" id="sid" value="@ViewBag.SID" />
                                <textarea name="Content" class="textbox" id="noteContent"></textarea>
                                <p><input type="button" value="保存" id="btnAddNote" class="btn btn-orange btn-big" style="margin-left:10px;width:100px" /></p>
                                <div style="padding-top:10px;"><h5>历史笔记</h5></div>
                                <div id="lstNote">
                                    @if (listNote != null)
            {
                foreach (var note in listNote)
                {
                    <div class="div_HisNote">
                        @Html.Sanitized(@note.Content)
                        <br />
                        <span style="color:#808080;font-size:14px;text-align:right;margin-right:10px">@note.Time</span>
                    </div>
                }
            }

                                </div>
                            </div>
                        </div>
                        <hr style="border: none; height: 1px; background-color: #ccc; margin: 20px 25px 0 0;">
                        <div id="d_courseware" class="d-courseware">
                            <div class="head">
                                课后问题
                            </div>
                            <div class="body">

                                @if (questions.Count() == 0)
        {
                                    <div>暂无课后问题</div>
        }
        else
        {
                                    <input type="hidden" id="questionCount" value="@questions.Count" />
            for (int i = 0; i < questions.Count(); i++)
            {
                <div class="question" style="font-size:16px">
                    @(i + 1)<span>.</span>@questions[i].Content <br />
                    <input value="@questions[i].RightAnswer" type="hidden" class="roghtanswer" />
                    @for (int j = 0; j < questions[i].Answers.Count(); j++)
                    {
                        <div class="radio"><label><input name="answer@(i+1)" type="radio" value="@j" class="answer" />@CommonEnums.Answers[j] : @questions[i].Answers[j]</label></div>
                    }
                </div>

            }
            <input type="button" class="btn btn-orange btn-big" value="提交" style="width:100px;margin-bottom:10px" id="btnAnswerQuestion" />

        }
                                <div class="warning"></div>

                            </div>
                        </div>



                    </div>
                </div>
                <div class="d-col-2-4">
                    <div class="contentarea">
                        <div id="Record" class="d-courseaction well">
                            <h2>课时</h2>
                            @foreach (var item in ViewBag.Lessions as List<vLession>)
            {
                                <p><a href="/Course/LessionDetails/@item.ID">[@item.Time.ToString("yyyy-MM-dd")] @item.Title</a></p>
            }
                        </div>
                        <div class="d-courseaction well">
                            <a href="/Course/Test/@lession.CourseID">课程测试</a>
                        </div>
                    </div>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<script>
    @*window.onbeforeunload = onbeforeunload_handler;
    window.onunload = onunload_handler;
    function onbeforeunload_handler() {
        var warning = "确认退出?";
        return warning;
    }
    function onunload_handler() {
        var user = $("#hdCurrentuser").val();
        alert(user);
        if (user != null && user != "") {
            $.post("/Course/LearningRecord/@lession.ID", function (data) {
            });
        }
    }*@

    window.onbeforeunload = onbeforeunload_handler;
    window.onunload = onunload_handler;
    function onbeforeunload_handler() {
        if (event.clientX > document.body.clientWidth && event.clientY < 0 || event.altKey) {
            alert("你关闭了浏览器");
        } else {
            alert("你正在刷新页面");
        }
    }

    //function onbeforeunload_handler() {
    //    if (document.body.clientWidth-event.clientX<21||event.altKey||event.ctrlKey){
    //        alert("close");
    //    }else{
    //        window.event.returnValue="";
    //        alert("refrash");
    //        return false;
    //    }
    //}

    function onunload_handler() {
        var user = $("#hdCurrentuser").val();
        //alert(user);
        if (user != null && user != "") {
            $.post("/Course/LearningRecord/@lession.ID", function (data) {
            });
        }
    }

    @*$(function () {
        $(window).unbind().bind('beforeunload', function () {
            if (document.body.clientWidth - event.clientX < 21 || event.altKey || event.ctrlKey) {
                alert("close");
            } else {
                window.event.returnValue = "";
                alert("refrash");
                return false;
            }
        })
        $(window).unbind().bind('onunload', function () {
            var user = $("#hdCurrentuser").val();
            alert(user);
            if (user != null && user != "") {
                $.post("/Course/LearningRecord/@lession.ID", function (data) {
                });
            }
        })


    })*@

    CKEDITOR.replace('Content',
    {
        toolbar: 'Basic',
        width: "100%",
        height: "80px"
    });
    $(function () {
        reset = function () {
            alertify.set({
                labels: {
                    ok: "继续",
                    cancel: "取消"
                },
                delay: 5000,
                buttonReverse: false,
                buttonFocus: "ok"
            });
        };
        $('body').everyTime('600s', function () {
            reset();
            $("#video-hidden").hide();
            alertify.confirm("确认框", function (e) {
                if (e) {
                    alertify.success("点击确认");
                    $("#video-hidden").hide();
                } else {
                    alertify.error("点击取消");
                    $("#video-hidden").show();
                }
            });
        });
    });
</script>
