@using QqhrCitizen.Models
@{

    List<Lession> lessions = ViewBag.Lessions as List<Lession>;
    Course course = ViewBag.Course as Course;
    ViewBag.Title = course.Title;
}

<div class="container wrap-cont">
    <p>当前位置：/<a href="/Course/Index?tid=@course.CourseTypeID" class="pos">@course.TypeDictionary.TypeValue</a>/<a href="#" class="pos">@course.Title</a></p>
    <div class="block main">
        <h3>@course.Title</h3>
        <div>
            <h4>课程简介</h4>
            <p>@course.Description</p>
        </div>
        <div>
            <h4>课程提纲</h4>
            <ul class="">
                @if (lessions.Count > 0)
                {
                    foreach (var item in lessions)
                    {
                        <li>
                            <div>
                                <h3><a href="/Course/LessionDetails/@item.ID">@item.Title</a></h3>
                                <p>@item.Description</p>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>

    <div class="block sidebar">

    </div>

    <div  class="clr"></div>
</div>
