@using QqhrCitizen.Models
@using QqhrCitizen.Models.ViewModel
@{

    List<vLession> lessions = ViewBag.Lessions as List<vLession>;
    Course course = ViewBag.Course as Course;
    ViewBag.Title = course.Title;
}

<div class="container wrap-cont">
    <p>当前位置：/<a href="/Course/Index?tid=@course.CourseTypeID" class="pos">@course.TypeDictionary.TypeValue</a>/<a href="#" class="pos">@course.Title</a></p>
    <div class="block main">
        <h3>@course.Title</h3>
        <div>
            <h4>课程简介</h4>
            <p>@course.Description</p>
        </div>
        <div>
            <h4>课程提纲</h4>
            <ul class="">
                @if (@lessions.Count > 0)
                {
                    foreach (var item in lessions)
                    {
                        <li>
                            <div>
                                <h3>
                                    @if (ViewBag.CurrentUser == null)
                                    {
                                        <a href="javascript:Msg('请先登录，再观看教程！')">@item.Title</a>
                                    }
                                    else if (HttpContext.Current.User.Identity.IsAuthenticated && ViewBag.CurrentUser.RoleAsInt >= item.Course.AuthorityAsInt)
                                    {
                                        <a href="/Course/LessionDetails/@item.ID">@item.Title</a>
                                        <span style="font-size:6px;"> 答题正确率:@item.Rate  </span>
                                    }
                                    else
                                    {
                                        <a href="javascript:Msg('没有观看此视屏的权限！')">@item.Title</a>
                                    } 

                                </h3>
                                <p>@item.Description</p>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>

    <div class="block sidebar">
        <h3>相关课程</h3>
        @foreach (var item in ViewBag.lstCourse)
        {
            <p><a href="/Course/Show/@item.ID">[@item.Time.ToString("yyyy-MM-dd")] @item.Title</a></p>
        }
    </div>

    <div class="clr"></div>
</div>
<script>
    function Msg(data) {
        popMsg(data);
    }
</script>