@model  QqhrCitizen.Models.ViewModel.vLogin
@{
    ViewBag.Title = "用户登录 - 齐齐哈尔市民学习网";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <div class="container wrap-cont">
            <div class="narrow block">
                <h2>用户登录</h2>
                <table class="detail-table">
                    <tr>
                        <td class="row-title">用户名</td>
                        <td>
                            @Html.TextBoxFor(model => model.Username, new { @class = "textbox w-3" })<br>
                            @Html.ValidationMessageFor(model => model.Username)
                        </td>
                    </tr>
                    <tr>
                        <td class="row-title">密码</td>
                        <td>
                            @Html.PasswordFor(model => model.Password, new { @class = "textbox w-3" })<br />
                            @Html.ValidationMessageFor(model => model.Password)
                        </td>
                    </tr>
                    <tr>
                        <td class="row-title" colspan="2">
                            记住我
                            @Html.EditorFor(model => model.RememberMe, "1")<br />
                            @Html.ValidationMessageFor(model => model.RememberMe)
                           
                        </td>
                    </tr>

                </table>
                <p><input type="submit" value="登录" class="button blue" /></p>
                @Html.ValidationSummary(true)
            </div>
        </div>
}


