@model  QqhrCitizen.Models.ViewModel.vLogin
@{
    ViewBag.Title = "登录_齐齐哈尔市民学习网";
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0080)http://member.shlll.net/home/login?redirect=http://www.shlll.net/main/index.html -->
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en" style="">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="Images/logo.png">
    <link href="~/Styles/app_home.css" rel="stylesheet" media="screen">
    <link href="~/Styles/citizen.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/qqhrcitizen.base.js"></script>
    <script src="~/Scripts/citizen.js"></script>
</head>
<body class="home__login">
    <div id="d_main" class="d-main" style="min-width: 1000px;">
        <div class="container">
            <div id="d_top" class="d-top">
                <div id="d_top_c" class="d-top-c">
                    <!-- region start: top -->
                    <div id="d_topmenu" class="d-topmenu">
                        <div class="d-top-nav">
                            <div class="body">
                               @foreach (var item in ViewBag.Navigation)
                               {
                                   if (@item.Url != "Null")
                                   {
                                    <a id='@item.Nav_Id' class="item" href="@item.Url" target="_parent">@item.Title</a>
                                   }
                               }
                            </div>
                        </div>
                        <div class="d-top-weather">
                            <div class="body">
                            </div>
                        </div>
                        <div id="d_top_sign" class="d-top-sign">
                            <div class="body">
                                <span class="txt">欢迎来到齐齐哈尔市民学习网</span>
                                <a class="item" href="/User/Login" target="_self">登录</a>
                                <a class="item last" href="/User/Register" target="_self">注册</a>
                            </div>
                        </div>
                    </div>
                    <!-- region end: top -->
                </div>
            </div>
            <div id="d_header" class="d-header" style="border-bottom:1px solid #f09e3d;">
                <div id="d_header_c" class="d-header-c">
                    <!-- region start: header -->
                    <div id="d_headerhome" class="d-headerhome">
                        <a class="d-logo logo-use" href="Home/Index"></a>
                        <div class="d-search"></div>
                    </div>
                    <!-- region end: header -->
                </div>
            </div>
            <div id="d_bottom" class="d-bottom" style="visibility: hidden;">
                <div class="d-bottom-c">
                    <div id="d_scrolltop" class="d-scrolltop">
                        <span class="t" onclick="$(document.body).ScrollTo();">顶部</span>
                    </div>
                </div>
            </div>
            <div class="d-row" style="margin-bottom:20px;padding:20px 0 20px 0;">
                <div class="d-row-c">
                    <div class="d-col-1">
                        <div class="contentarea">
                            <!-- region start: 登录 --><div class="d-signin">
                                <div class="head">
                                    欢迎回来
                                </div>
                                <div class="body">
                                    @using (Html.BeginForm("Login", "User", FormMethod.Post, new { id = "frmLogin" }))
                                    {
                                        @Html.AntiForgerySID()
                                        <div class="d-username">
                                            <span class="i">&nbsp;</span>
                                            @Html.TextBoxFor(m => m.Username, new { @class = "int-hs logElm", @placeholder = "用户名" })
                                            <div class="clear"></div>
                                        </div>
                                        <div class="d-password">
                                            <span class="i">&nbsp;</span>
                                            @Html.PasswordFor(x => x.Password, new { @class = "int-hs logElm", @placeholder = "密码" })
                                            <div class="clear"></div>
                                        </div>
                                        <div class="d-submit">
                                            <input type="submit" class="btn btn-orange btn-big" value="登录" style="width:300px;">
                                        </div>
                                        <div class="d-knowme">
                                            <!--<label>
                                                <input id="check_knowme" type="checkbox"> 记住我(在公共场上网所请勿勾选此项)
                                            </label>-->
                                            记住我 @Html.EditorFor(model => model.RememberMe)
                                        </div>
                                        <div class="d-sign">
                                            <a href="/User/Register">不是学习网用户？请注册。</a>
                                        </div>
                                    }
                                </div>
                            </div><!-- region end: 登录 -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-row" style="background-color:#ececec;border-top:2px solid #474747;">
                <div class="d-row-c">
                    <div class="d-col-1">
                        <div class="contentarea">
                            <!-- region start: 帮助导航 --><div class="d-help">
                                <div style="padding: 25px;">Copyright © 2015 齐齐哈尔市广播电视大学. All Rights Reserved. 哈尔滨市码锋科技有限责任公司提供技术支持.</div>
                            </div><!-- region end: 帮助导航 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
