@model  QqhrCitizen.Models.ViewModel.vRegister
@{
    ViewBag.Title = "用户注册 - 齐齐哈尔市民学习网";
}
<script>
    function frmCheck() {
        if (!CheckUsername()) return false;
        if (!CheckPassword()) return false;
        if (!CheckRealname()) return false;
        if (!CheckEmail()) return false;
        if (!CheckPhone()) return false;
        if (!CheckAddress()) return false;
    }
    function CheckUsername() {
        if ($("#Username").val() == "") {
            CastMsg("用户名不能为空");
            return false;
        }
        return true;
    }
    function CheckPassword() {
        if($('#Password').val() == ""){
            CastMsg("密码不能为空！");
            return false;
        }
        if ($('#Confirm').val() == "") {
            CastMsg("密码重复不能为空！");
            return false;
        }
        if ($("#Password").val().length < 4) {
            CastMsg("至少输入4位密码");
            return false;
        }
        if ($('#Password').val() != $('#Confirm').val()) {
            CastMsg("两次输入密码不一致");
            $("#ConfirmInfo").css("color:red");
            return false;
        }
        return true;
    }
    function CheckEmail() {
        if ($("#Email").val() == "") {
            CastMsg("邮箱不能为空");
            return false;
        }
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        if (!myreg.test($("#Email").val())) {
            CastMsg("邮箱格式输入错误！");
            return false;
        }
            return true;
   }
    function CheckRealname() {
        if ($("#Realname").val() == "") {
            CastMsg("真实姓名不能为空");
            return false;
        }
        if ($("#Realname").val().length > 10)
        {
            CastMsg("真实姓名格式输入错误！");
            return false;
        }
        return true;
    }
    function CheckPhone() {
        if ($("#Phone").val() == "") {
            CastMsg("电话不能为空");
            return false;
        }
        if ($("#Phone").val().length > 14) {
            CastMsg("电话格式输入错误！");
            return false;
        }
        return true;
    }
    function CheckAddress() {
        if ($("#Address").val() != "") {
            var myreg = /([^\x00-\xff]|[A-Za-z0-9_])+/;
            if (!myreg.test($("#Address").val())) {
                CastMsg("地址格式输入错误！");
                return false;
            }
        }
        return true;
    }
</script>
@using (Html.BeginForm("Register", "User", FormMethod.Post, new
{
    onsubmit = "return frmCheck();"
}))
{
    @Html.AntiForgerySID()
    <fieldset>
        <div class="container wrap-cont">
            <div class="narrow block">
                <h2>新用户注册</h2>
                <table class="detail-table">
                    <tr>
                        <td class="row-title">用户名</td>
                        <td>
                            @Html.TextBoxFor(model => model.Username, new { @class = "textbox w-3" })
                        </td>
                    </tr>
                    <tr>
                        <td class="row-title">密码</td>
                        <td>
                            @Html.PasswordFor(model => model.Password, new { @class = "textbox w-3" })
                        </td>
                    </tr>
                    <tr>
                        <td class="row-title">确认密码</td>
                        <td>@Html.Password("Confirm", "", new { @class = "textbox w-3" })
                    </tr>
                    <tr>
                        <td class="row-title">真实姓名</td>
                        <td>@Html.TextBoxFor(model => model.Realname, new { @class = "textbox w-3" })</td>
                    </tr>
                    <tr>
                        <td class="row-title">电子邮箱</td>
                        <td>@Html.TextBoxFor(model => model.Email, new { @class = "textbox w-3" })<br />

                    </tr>
                    <tr>
                        <td class="row-title">电话号码</td>
                        <td>@Html.TextBoxFor(model => model.Phone, new { @class = "textbox w-3" })</td>
                    </tr>
                    <tr>
                        <td class="row-title">家庭住址</td>
                        <td>@Html.TextAreaFor(model => model.Address, new { @class = "textbox w-3" })</td>
                    </tr>
                </table>
                <p><input type="submit" value="注册" class="button blue" /><input type="reset" value="重置" class="button blue" /></p>
                @Html.ValidationSummary(true)
            </div>
        </div>
    </fieldset>
}
