<<<<<<< Updated upstream
﻿@model  QqhrCitizen.Models.ViewModel.vRegister
=======
﻿
>>>>>>> Stashed changes
@{
    ViewBag.Title = "用户注册 - 齐齐哈尔市民学习网";
}@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="container wrap-cont">
            <div class="narrow block">
                <h2>新用户注册</h2>
                <table class="detail-table">
                    <tr>
                        <td class="row-title">用户名</td>
                        <td>
                            @Html.TextBoxFor(model => model.Username, new { @class = "textbox w-3" })
                        </td>
                    </tr>
                    <tr>
                        <td class="row-title">密码</td>
                        <td>
                            @Html.PasswordFor(model => model.Password, new { @class = "textbox w-3" })
                        </td>
                    </tr>
                    <tr>
                        <td class="row-title">确认密码</td>
                        <td>@Html.PasswordFor(model => model.Confirm, new { @class = "textbox w-3" })</td>
                    </tr>
                    <tr>
                        <td class="row-title">真实姓名</td>
                        <td>@Html.TextBoxFor(model => model.Realname, new { @class = "textbox w-3" })</td>
                    </tr>
                    <tr>
                        <td class="row-title">电子邮箱</td>
                        <td>@Html.TextBoxFor(model => model.Email, new { @class = "textbox w-3" })</td>
                    </tr>
                    <tr>
                        <td class="row-title">电话号码</td>
                        <td>@Html.TextBoxFor(model => model.Phone, new { @class = "textbox w-3" })</td>
                    </tr>
                </table>
                <p><input type="submit" value="注册" class="button blue" /></p>
            </div>
        </div>
    </fieldset>
}
<<<<<<< Updated upstream
=======
<div class="container wrap-cont">
    <div class="narrow block">
        <h2>新用户注册</h2>
        <table class="detail-table">
            <tr>
                <td class="row-title">用户名</td>
                <td><input type="text" name="Username" class="textbox w-3" />
                   
                </td>
            </tr>
            <tr>
                <td class="row-title">密码</td>
                <td><input type="password" name="Password" class="textbox w-3" /></td>
            </tr>
            <tr>
                <td class="row-title">确认密码</td>
                <td><input type="password" name="Confirm" class="textbox w-3" /></td>
            </tr>
            <tr>
                <td class="row-title">真实姓名</td>
                <td><input type="text" name="Name" class="textbox w-3" /></td>
            </tr>
            <tr>
                <td class="row-title">电子邮箱</td>
                <td><input type="text" name="Email" class="textbox w-3" /></td>
            </tr>
            <tr>
                <td class="row-title">电话号码</td>
                <td><input type="text" name="Phone" class="textbox w-3" /></td>
            </tr>
        </table>
        <p><input type="submit" value="注册" class="button blue" /></p>
    </div>
</div>
    
>>>>>>> Stashed changes



