@using QqhrCitizen.Models.ViewModel;
@using QqhrCitizen.Models;
@{
    vUser user = ViewBag.User as vUser;
    ViewBag.Title = "用户信息查看 - 齐齐哈尔市民学习网";
}
<div id="d_menu" class="d-menu menu-use">
    <div id="d_menu_c" class="d-menu-c">
        <!-- region start: menu -->
        <div id="d_headmenu" class="d-headmenu">
            <div class="body">
                <a id="headmenu_useraccount" class="item_selected" href="/User/Show">个人信息</a>
                <a id="headmenu_history" class="item" href="/User/Study">学习档案</a>
            </div>
        </div>
        <!-- region end: menu -->
    </div>
</div>
<div id="d_bottom" class="d-bottom" style="visibility: hidden; position: fixed;"><div class="d-bottom-c"><div id="d_scrolltop" class="d-scrolltop" style="right: -70px;"><span class="t" onclick="$(document.body).ScrollTo();">顶部</span></div></div></div>
<div class="d-row" style="padding:0 0 40px 0">
    <div class="d-row-c">
        <div class="d-col-2-8">
            <div class="contentarea">
                <form action="/usercenter/useraccount" method="post" id="1245184624">
                    <input name="__RequestVerificationToken" type="hidden" value="F98fhUNXNuQiotNdDT3Zkqx304y8xXZgJFuF-4BP-lyu9NrD4eqF2HVpbScJiFPYmB-oFGagku7Rmz4dyXaC4RySPP5-bDWMY-yOuVc6Sm81"><!-- region start: 个人信息 --><div id="d_personalinfo" class="d-personalinfo">
                        <div class="head">
                            查看个人信息
                        </div>
                        <table class="tbl">
                            <tr>
                                <td style="width:100px;">
                                    <div>
                                        用户名
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @user.Username
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <label for="Realname">真实姓名</label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @user.Realname
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <label for="Sex">性别</label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @user.Sex
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <label for="Email">电子邮箱</label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @user.Email
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <label for="Birthday">生日</label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @user.Birthday
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <label for="Phone">电话</label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @user.Phone
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <label for="Address">地址</label>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @user.Address
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        头像
                                    </div>
                                </td>
                                <td>
                                    <div id="avatarContainer">
                                        @if (user.Picture == null)
                                        {
                                            <img src="/Images/userphoto.png" width="100" height="100" style="border-radius:50%;" />
                                        }
                                        else
                                        {
                                            <img src="/User/ShowPicture/@user.ID" width="100" height="100" style="border-radius:50%;" alt="图像" />
                                        }
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div class="info">
                            我们保证以上信息仅用于齐齐哈尔市民学习网用户实名身份认证，不会用于其他商业用途。
                        </div>
                    </div><!-- region end: 个人信息 -->
                </form>
            </div>
        </div><div class="d-col-2-4">
            <div class="contentarea">
                <!-- region start: 个人设置 -->
                <div id="d_settings" class="d-settings">
                    <div class="head">
                        &nbsp;
                    </div><div class="body">
                        <div class="item">
                            <a href="/User/PwdEdit">修改密码</a>
                        </div>
                        <div class="item">
                            <a href="/User/Edit">修改个人信息</a>
                        </div>
                        <div class="item">
                            <a href="/User/Notes\@user.ID">个人课程笔记</a>
                        </div>
                        <!--<div class="item">
                            <a href="/usercenter/verify">实名认证</a>
                        </div>-->
                    </div>
                </div>
                <!-- region end: 个人设置 -->
                <input type="hidden" id="redirect" name="redirect">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
