@using QqhrCitizen.Models.ViewModel;
@using QqhrCitizen.Models;
@model  QqhrCitizen.Models.ViewModel.vUser
@{
    ViewBag.Title = "用户信息 - 齐齐哈尔市民学习网";
    vUser user = @ViewBag.user as vUser;
}

<div class="container wrap-cont">
    <div class="block">
        <h2>用户信息</h2>
        <div class="detail-table">
            <p>
                <br />
                @if (user.Picture == null)
                {
                    <img src="/Images/userphoto.png" width="100" height="100" style="border-radius:50%;" />
                }
                else
                {
                    <img src="/User/ShowPicture/@user.ID" width="100" height="100" style="border-radius:50%;" alt="图像" />
                }
            </p>
            <div style="margin-left: 20px"><a href="/User/PwdEdit/@user.ID">修改密码</a></div>
            <div style="margin-left: 150px; margin-top: -150px" >
                <p>用户名：@user.Username</p>
                <p>性别：@user.Sex</p>
                <p>生日：@user.Birthday.Value.ToShortDateString()</p>
                <p>真实姓名:@user.Realname</p>
                <p>电话:@user.Phone</p>
                <p>邮箱:@user.Email</p>
                <p>住址:@user.Address</p>
                <div>
                    @if (user != null && ViewBag.CurrentUser != null && ViewBag.CurrentUser.Username == user.Username)
                    {
                        <div>
                            <a href="/User/Edit/@user.ID">修改用户信息</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="block">
        <h2>课程笔记</h2>
        <div>
            @foreach(var item in ViewBag.Notes as List<Note>)
            {
                <div>
                    所属课程：<span>@item.Lession.Course.Title</span>  所属课时：<span>@item.Lession.Title</span>
                    添加时间：<span>@item.Time</span> 
                    内容:<span>@item.Content</span>
                </div>
            }
        </div>
    </div>
</div>
