@using QqhrCitizen.Models.ViewModel;
@{
    vNews news = ViewBag.News as vNews;
    ViewBag.Title = "新闻详细_齐齐哈尔市民学习网";
}
<div id="d_menu" class="d-menu menu-eve">
    <div id="d_menu_c" class="d-menu-c">
        <!-- region start: menu -->
        <div id="d_headmenu" class="d-headmenu">
            <div class="body">
                <a id="headmenu_default" class="item_selected" href="/News/Index" style="cursor:pointer" target="_parent">资讯首页</a>
                <a id="headmenu_discovery" class="item" href="/News/Discovery/0">发现新闻</a>
             </div>
        </div><!-- region end: menu -->
    </div>
</div>
<div id="d_bottom" class="d-bottom" style="visibility: hidden; position: fixed;"><div class="d-bottom-c"><div id="d_scrolltop" class="d-scrolltop" style="right: -70px;"><span class="t" onclick="$(document.body).ScrollTo();">顶部</span></div></div></div>
<div class="d-row" style="padding: 0 0 40px 0">
    <div class="d-row-c">
        <div class="d-col-2-8">
            <div class="contentarea">
                <!-- region start: 资讯文章 -->
                <input type="hidden" id="hiddenID" name="hiddenID" value="1203">
                <input type="hidden" id="hiddenIsPreview" name="hiddenID" value="[#hiddenIsPreviewID]">
                <div id="d_article" class="d-article">
                    <div class="body">
                        <div class="item">
                            <div class="title">@news.Title</div>
                            <div class="info">
                                <span class="date">发布时间:@news.Time</span>
                                <span class="from"></span>
                                <span class="view">浏览次数:<span id="viewCountNum">@news.Browses</span></span>
                            </div>
                            <div class="desc txt-justify">
                                @Html.Sanitized(@news.Content)
                            </div>
                        </div>
                    </div>
                </div><!-- region end: 资讯文章 -->
            </div>
        </div>
        <div class="d-col-2-4">
            <div class="contentarea">
                <div id="d_ad1" class="d-ad-323x264" style="padding: 30px 0 0 0;" data-km-url="">
                    <a href="http://city.shlll.net/" rel="nofollow" target="_blank">
                        <img src="http://res.shlll.net/resource/ad/ad_zhcs_300x250.jpg" width="300" height="250" alt="建智慧城市，做智慧市民">
                    </a>
                </div>
                <!-- region start: 推荐资讯 -->
                <div id="d_articlehot" class="d-articlehot">
                    <div class="head">相关新闻</div>
                    <div class="body">
                        @foreach (var item in ViewBag.LstNews as List<News>)
                        {
                            <a class="item trim" href="/News/Show/@item.ID" target="_blank" title="@item.Title">@item.Title</a>
                        }
                    </div>
                </div>
                <!-- region end: 推荐资讯 -->
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
