@using QqhrCitizen.Models.ViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    vNews news = ViewBag.News as vNews;
    ViewBag.Title = news.Title;
}
<div class="container wrap-cont">
    <p>当前位置：/<a href="/News/Index?tid=@news.NewsTypeID" class="pos">@news.TypeDictionary.TypeValue</a>/<a href="#" class="pos">@news.Title</a></p>
    <div class="block main">
        <h2>@news.Title</h2>
        <div class="subtitle">时间：@news.Time.ToShortDateString() 浏览：@news.Browses 次 分类：<a href="#">@news.TypeDictionary.TypeValue</a></div>
        <p>@Html.Sanitized(@news.Content)</p>
        <hr />
        <h3>评论</h3>
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="@news.NewsTypeID+@news.ID" data-title="@news.Title" data-url="@HttpContext.Current.Request.Url.ToString()"></div>
        <!-- 多说评论框 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
            var duoshuoQuery = { short_name: "qqhrcitizen" };
            (function () {
                var ds = document.createElement('script');
                ds.type = 'text/javascript'; ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
					|| document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- 多说公共JS代码 end -->
    </div>
    <div class="block sidebar">
        <h3>相关新闻</h3>
        @foreach (var item in ViewBag.LstNews)
        {
            <p><a href="/News/Show/@item.ID">[@item.Time.ToString("yyyy-MM-dd")] @item.Title</a></p>
        }
    </div>
    <div class="clr"></div>
</div>





