@{
    ViewBag.Title = "增加类型";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="result-title">
        <h1>@ViewBag.ype 增加类型</h1>
    </div>
    @using (Html.BeginForm("AddType", "Admin", FormMethod.Post))
    {
        @Html.AntiForgerySID()
        <table class="detail-table">
            <tr>
                <td class="row-title">所属分类</td>
                <td>
                    <input name="Belonger" type="hidden" value="@ViewBag.Type" />
                     @ViewBag.Type
                </td>
            </tr>
            <tr>
                <td class="row-title">
                    内容
                </td>
                <td>
                    <input type="text" name="TypeValue" class="textbox" />
                </td>
            </tr>
            <tr>
                <td class="row-title">
                    是否需要登录标记
                </td>
                <td>
                    <select name="NeedAuthorize" class="textbox">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="row-title">
                    上级类型
                </td>
                <td>
                    <select name="FatherID" id="lsFatherID" class="textbox">
                        @foreach (var item in ViewBag.LastTypes as List<TypeDictionary>)
                        {
                            <option value="@item.ID">@item.TypeValue</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
        <p><input type="submit" value="增加" class="button blue" /></p>
    }
</div>
