@using QqhrCitizen.Models.ViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    vCourse course = ViewBag.Course as vCourse;
    ViewBag.Title = course.Title;
}

<h2>课程详细  <a href="/Admin/CoursesEdit/@course.ID">修改</a></h2>

<table class="detail-table">
    <tr>
        <td class="row-title">一级分类</td>
        <td>
            @course.TypeDictionary.Belonger
        </td>
    </tr>
    <tr>
        <td class="row-title">二级分类</td>
        <td>
            @course.TypeDictionary.TypeValue
        </td>
    </tr>
    <tr>
        <td class="row-title">标题</td>
        <td>
            @course.Title
        </td>
    </tr>
    <tr>
        <td class="row-title">
            内容
        </td>
        <td>
            @course.Description
        </td>
    </tr>
    <tr>
        <td class="row-title">
            时间
        </td>
        <td>
            @course.Time
        </td>
    </tr>
    <tr>
        <td class="row-title">
            操作员
        </td>
        <td>
            @course.Username
        </td>
    </tr>
</table>

<div style="margin-top:20px;">
    <h2>课时  </h2>
    <table class="detail-table">
        <thead>
            <tr>
                <td>课时名称</td>
                <td>添加时间</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            @if (@course.Lessions.Count > 0)
            {
                foreach (var item in @course.Lessions)
                {
                    <tr>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.Time.ToString("yyyy-MM-dd HH:mm:ss")
                        </td>
                        <td>
                            <a href="/Admin/LessionShow/@item.ID">课时详情</a>
                            <a href="javascript:Delete(@item.ID);">删除</a>
                            <a href="/Admin/LessionEdit/@item.ID">修改</a>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>


<script>
    function Delete(id) {
        window.location = '/Admin/LessionDelete/' + id + '?sid=@ViewBag.SID';
    }
</script>



