@{
    ViewBag.Title = "I实验管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="result-title">
        <h1 class="head-tietle">I实验管理 <a href="/Admin/AddITrial">增加</a></h1>
    </div>
    <div class="result-content">
        <table class="table">
            <thead>
                <tr>
                    <td>编号</td>
                    <td>标题</td>
                    <td>URL</td>
                    <td>优先级</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.ITrials as List<ITrial>)
                {
                    <tr id="@item.ID">
                        <td>@item.ID</td>
                        <td>@item.Title</td>
                        <td>@item.URL</td>
                        <td>@item.Priority</td>
                        <td>
                            <a href="/Admin/ITrialShow/@item.ID">查看详细</a>
                            <a href="javascript:deleteDialog('/Admin/ITrialDelete/' + @item.ID + '?sid=@ViewBag.SID',@item.ID);">删除</a>
                            <a href="/Admin/ITrialEdit/@item.ID">编辑</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

