@using QqhrCitizen.Models
@{
    ViewBag.Title = "笑话管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="result-title">
        <h1 class="head-tietle">笑话管理 <a href="/Admin/AddJoke">增加</a></h1>
    </div>
    <div class="result-content">
        <table class="table">
            <thead>
                <tr>
                    <td style="width:5%;text-align:center">编号</td>
                    <td style="width:70%;text-align:center">内容</td>
                    <td style="width:15%;text-align:center">时间</td>
                    <td style="width:10%;text-align:center">操作</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.JokeShow as List<Joke>)
                {
                    <tr id="@item.ID">
                        <td style="text-align:center">@item.ID</td>
                        <td style="text-align:center">@item.Content</td>
                        <td style="text-align:center">@item.Time</td>
                        <td style="text-align:center">
                            <a href="javascript:deleteDialog('/Admin/JokeDelete/' + @item.ID + '?sid=@ViewBag.SID',@item.ID);">删除</a>
                            <a href="/Admin/JokeEdit/@item.ID">编辑</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




