@using QqhrCitizen.Models
@{
    ViewBag.Title = "课程修改";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Lession lession = ViewBag.Lession as Lession;
}


<div>
    <h2 class="head-tietle">@lession.Title - 课时修改</h2>
    @using (Html.BeginForm("LessionEdit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgerySID()
        <input type="hidden" name="ID" value="@lession.ID" />
        <table class="detail-table">
            <tr>
                <td class="row-title">课程</td>
                <td>
                   @lession.Course.Title
                </td>
            </tr>
            <tr>
                <td class="row-title">课时名称</td>
                <td>
                    <input type="text" name="Title" class="textbox" value="@lession.Title" />
                </td>
            </tr>

            <tr>
                <td class="row-title">描述</td>
                <td>
                    <textarea name="Description" class="textbox" style="height:100px;">@lession.Description</textarea>
                </td>
            </tr>
            <tr>
                <td class="row-title">
                    备注
                </td>
                <td>
                    <textarea name="Remark" class="textbox" style="height:100px;">@lession.Remark</textarea>
                </td>
            </tr>
            <tr>
                <td class="row-title">
                    视频文件
                </td>
                <td>
                    <input type="file" name="file" />(若不修改，请留空)
                </td>
            </tr>
        </table>
        <p><input type="submit" value="保存" class="button blue" /></p>
    }

</div>


