@model IEnumerable < QqhrCitizen.Models.Live>
@{
    ViewBag.Title = "直播管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="result-title">
        <h1 class="head-tietle">直播管理 <a href="/Admin/AddLive">增加</a></h1>
    </div>
    <div class="result-content">
        <form class="search">
            检索：
            <input type="text" name="Begin" class="textbox datetime nullable" placeholder="发布时间(大于)" value="@Request.QueryString["Begin"]" />
            <input type="text" name="End" class="textbox datetime nullable" placeholder="发布时间(小于)" value="@Request.QueryString["End"]" />
            信息分类
            <input type="text" name="Key" class="textbox nullable" placeholder="关键字" />
            <input type="submit" class="btn blue" value="检索" />
        </form>
        <table class="table">
            <thead>
                <tr>
                    <td>编号</td>
                    <td>标题</td>
                    <td>路径</td>
                    <td>开始时间</td>
                    <td>结束时间</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.ID">
                        <td>@item.ID</td>
                        <td>@item.Title</td>
                        <td>@item.LiveURL</td>
                        <td>@item.Begin</td>
                        <td>@item.End</td>
                        <td>
                            <a href="/Admin/LiveShow/@item.ID">查看详细</a>
                            <a href="javascript:deleteDialog('/Admin/LiveDelete/' + @item.ID + '?sid=@ViewBag.SID',@item.ID);">删除</a>
                            <a href="/Admin/LiveEdit/@item.ID">编辑</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.MakePager()
    </div>
</div>


