@model IEnumerable<QqhrCitizen.Models.Menu>
@{
    ViewBag.Title = "频道管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>
    <div class="result-title">
        <h1 class="head-tietle">频道管理 <a href="/Admin/AddMenu">增加</a></h1>
    </div>
    <div class="result-content">
        <table class="table">
            <thead>
                <tr>
                    <td>编号</td>
                    <td>标题</td>
                    <td>URL</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.ID">
                        <td>@item.ID</td>
                        <td>@item.Title</td>
                        <td>@item.Url</td>
                        <td>
                            <a href="javascript:deleteDialog('/Admin/MenuDelete/' + @item.ID + '?sid=@ViewBag.SID',@item.ID);">删除</a>
                            <a href="/Admin/MenuEdit/@item.ID">编辑</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>