@using QqhrCitizen.Models
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Navigation navigation = ViewBag.NavigationShow;
    ViewBag.Title = navigation.Title;
}

<div>
    <div class="result-title">
        <h1 class="head-tietle">@navigation.Title - 导航修改</h1>
    </div>
    @using (Html.BeginForm("NavigationEdit", "Admin", FormMethod.Post))
    {
        @Html.AntiForgerySID()
        <input value="@navigation.ID" type="hidden" name="ID" />
        <table class="detail-table">
            <tr>
                <td class="row-title">标题</td>
                <td>
                    <input class="textbox w-3" value="@navigation.Title" name="Title">
                </td>
            </tr>
            <tr>
                <td class="row-title">Url</td>
                <td>
                    <input class="textbox w-3" value="@navigation.Url" name="Url">
                </td>
            </tr>
        </table>

        <p><input type="submit" value="保存" class="button blue" /></p>
    }
</div>
