@model IEnumerable<QqhrCitizen.Models.TypeDictionary>
@{
    ViewBag.Title = "类型管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="result-title">
        <h1  class="head-tietle">@ViewBag.Type 类型管理 <a href="/Admin/AddType?type=@ViewBag.Type">增加</a></h1>
    </div>
    <div class="result-content">
        
        <form class="search">
            检索：
            <input type="text" name="Begin" class="textbox datetime nullable" placeholder="发布时间(大于)" value="@Request.QueryString["Begin"]" />
            <input type="text" name="End" class="textbox datetime nullable" placeholder="发布时间(小于)" value="@Request.QueryString["End"]" />
            信息分类
            <input type="text" name="Key" class="textbox nullable" placeholder="关键字" />
            <input type="submit" class="btn blue" value="检索" />
        </form>
        <table class="table">
            <thead>
                <tr>
                    <td>编号</td>
                    <td>名称</td>
                    <td>优先级</td>
                    <td>是否是登陆授权</td>
                    <td>是否高亮</td>
                    <td>所属类别</td>
                    <td>增加时间</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.ID">
                        <td>@item.ID</td>
                        <td>@item.TypeValue</td>
                        <td>@item.PID</td>
                        <td>@(item.NeedAuthorize ? "是" : "否")</td>
                        <td>@(item.Top ? "是" : "否")</td>
                        <td>@item.Belonger</td>
                        <td>@item.Time</td>
                        <td>
                            <a href="javascript:deleteDialog('/Admin/TypeDictionaryDelete/' + @item.ID + '?sid=@ViewBag.SID',@item.ID);">删除</a>
                            <a href="/Admin/TypeDictionaryEdit/@item.ID">编辑</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.MakePager()
    </div>
</div>
