@model IEnumerable<QqhrCitizen.Models.ProductUserInfo>
@{
    ViewBag.Title = "产品管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery.datetimepicker.js"></script>
<div>
    <div class="result-title">
        <h1 class="head-tietle">产品管理 <a href="/Admin/AddProduct">增加</a></h1>
    </div>
    <div class="result-content">
        <form class="search">
            检索：
            <input type="text" name="Begin" class="textbox datetime nullable" placeholder="发布时间(大于)" value="@Request.QueryString["Begin"]" />
            <input type="text" name="End" class="textbox datetime nullable" placeholder="发布时间(小于)" value="@Request.QueryString["End"]" />
            信息分类
            <input type="text" name="Key" class="textbox nullable" placeholder="关键字" />
            <input type="submit" class="btn blue" value="检索" />
        </form>
        <table class="table" style="margin-top:20px;">
            <thead>
                <tr>
                    <td>编号</td>
                    <td>标题</td>
                    <td>时间</td>
                    <td>状态</td>
                    <td>操作员</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr id="@item.ID">
                        <td>@item.ID</td>
                        <td>@item.Title</td>
                        <td>@item.Time</td>
                        <td>@item.Status</td>
                        <td>@item.User.Username</td>
                        <td>
                            <a href="/Admin/UseProductShow/@item.ID">查看详细</a>
                            <a href="javascript:deleteDialog('/Admin/ProductDelete/' + @item.ID + '?sid=@ViewBag.SID',@item.ID);">删除</a>
                            <a href="/Admin/UserProductEdit/@item.ID">编辑</a>
                            <a href="/Admin/AddProductImage/@item.ID">添加图片</a>
                            <a href="/Admin/AddProductVideo/@item.ID">添加视屏</a>
                            @if (item.Status != ProductUserInfoStatusEnum.审核中)
                            {
                               <a href="/Admin/UserSubmitProduct/@item.ID">提交修改</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @Html.MakePager()
    </div>
</div>





