@using QqhrCitizen.Models
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Viewpager viwepaher = ViewBag.ViwepaherShow;
    ViewBag.Title = viwepaher.Title;
}

<div>
    <div class="result-title">
        <h1 class="head-tietle">@viwepaher.Title - 导航修改</h1>
    </div>
    @using (Html.BeginForm("ViwepagerkEdit", "Admin", FormMethod.Post))
    {
        @Html.AntiForgerySID()
        <input value="@viwepaher.ID" type="hidden" name="ID" />
        <table class="detail-table">
            <tr>
                <td class="row-title">标题</td>
                <td>
                    <input class="textbox w-3" value="@viwepaher.Title" name="Title">
                </td>
            </tr>
            <tr>
                <td class="row-title">描述</td>
                <td>
                    <input class="textbox w-3" value="@viwepaher.Subtitle" name="Subtitle">
                </td>
            </tr>
            <tr>
                <td class="row-title">Url</td>
                <td>
                    <input class="textbox w-3" value="@viwepaher.Url" name="Url">
                </td>
            </tr>
            <tr>
                <td class="row-title">优先级</td>
                <td>
                    <input class="textbox w-3" value="@viwepaher.Priority" name="Priority">
                </td>
            </tr>
            <tr>
                <td class="row-title">图片</td>
                <td>
                    <input type="file" name="file" id="Picture" class="textbox nullable">
                </td>
            </tr>
        </table>

        <p><input type="submit" value="保存" class="button blue" /></p>
    }
</div>
